dashboard.json
[
    {
        "id": "0f89ec8508c3d166",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7c18ae0bd78a498",
        "type": "ui_svg_graphics",
        "z": "0f89ec8508c3d166",
        "group": "2b95a515674dacae",
        "order": 1,
        "width": 0,
        "height": 0,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" width=\"768\" height=\"970\" viewBox=\"0 0 768 970\" xml:space=\"preserve\" preserveAspectRatio=\"xMidYMid meet\"><defs id=\"svgEditorDefs\"><linearGradient gradientUnits=\"objectBoundingBox\" id=\"lgrd2-black-white\" spreadMethod=\"pad\" x1=\"0%\" x2=\"100%\" y1=\"0%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"black\"/><stop offset=\"100%\" stop-color=\"white\"/></linearGradient><linearGradient gradientUnits=\"objectBoundingBox\" id=\"lgrd2-peachpuff-sienna-h\" spreadMethod=\"pad\" x1=\"0%\" x2=\"100%\" y1=\"0%\" y2=\"0%\"><stop offset=\"0%\" style=\"stop-color:peachpuff;  stop-opacity:1;\"/><stop offset=\"100%\" style=\"stop-color:sienna;  stop-opacity:1\"/></linearGradient><linearGradient gradientUnits=\"objectBoundingBox\" id=\"lgrd2-peachpuff-sienna-v\" spreadMethod=\"pad\" x1=\"0%\" x2=\"0%\" y1=\"0%\" y2=\"100%\"><stop offset=\"0%\" style=\"stop-color:peachpuff;  stop-opacity:0.84;\"/><stop offset=\"100%\" style=\"stop-color:sienna;  stop-opacity:1\"/></linearGradient><linearGradient gradientUnits=\"objectBoundingBox\" id=\"lgrd2-fire\" spreadMethod=\"pad\" x1=\"0%\" x2=\"100%\" y1=\"0%\" y2=\"0%\"><stop offset=\"0%\" style=\"stop-color:rgb(255,255,0);stop-opacity:1\"/><stop offset=\"100%\" style=\"stop-color:rgb(255,0,0);stop-opacity:1\"/></linearGradient></defs><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"768\" height=\"1024\" style=\"fill:none;stroke:none\"/>\n    <desc>Created with Fabric.js 5.2.4</desc>\n    <defs>\n    </defs>\n    \n    <g transform=\"matrix(1 0 0 1 384 512)\" id=\"0f409da0-6870-45fd-bcd1-e4779319286b\">\n        <rect style=\"stroke:none;stroke-width:1;stroke-dasharray:none;stroke-linecap:butt;stroke-dashoffset:0;stroke-linejoin:miter;stroke-miterlimit:4;fill:lime;fill-rule:nonzero;opacity:1;visibility:hidden\" vector-effect=\"non-scaling-stroke\" x=\"-384\" y=\"-510.2947543713572\" rx=\"0\" ry=\"0\" width=\"768\" height=\"1024\"/>\n    </g>\n    <g transform=\"matrix(0 0 0 0 0 0)\" id=\"7fdc826f-603c-44ee-8190-c79952b96cdf\">\n    </g>\n    <g transform=\"matrix(0.2 0 0 0.2 111.3 754.5)\">\n        <g style=\"\" vector-effect=\"non-scaling-stroke\">\n            <g class=\"anim-sizzle\" index=\"0\">\n            <g transform=\"matrix(0.78 0 0 0.78 -268.92 -216.5)\">\n                <path style=\"stroke:none;stroke-width:1;stroke-dasharray:none;stroke-linecap:butt;stroke-dashoffset:0;stroke-linejoin:miter;stroke-miterlimit:4;fill:red;fill-rule:nonzero;opacity:1\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-166.7, -232.65)\" d=\"M 240.7 279.3 C 227.79999999999998 279.3 221.5 269.2 216.89999999999998 261.90000000000003 C 212.59999999999997 255.00000000000003 210.39999999999998 252.00000000000003 206.7 252.00000000000003 C 203 252.00000000000003 200.79999999999998 255.00000000000003 196.5 261.90000000000003 C 191.9 269.20000000000005 185.6 279.3 172.7 279.3 C 159.79999999999998 279.3 153.5 269.2 148.89999999999998 261.90000000000003 C 144.59999999999997 255.00000000000003 142.39999999999998 252.00000000000003 138.7 252.00000000000003 C 135 252.00000000000003 132.79999999999998 255.00000000000003 128.5 261.90000000000003 C 123.9 269.20000000000005 117.6 279.3 104.7 279.3 C 91.80000000000001 279.3 85.5 269.2 80.9 261.90000000000003 C 76.60000000000001 255.00000000000003 74.4 252.00000000000003 70.7 252.00000000000003 C 66.3 252.00000000000003 62.7 248.40000000000003 62.7 244.00000000000003 C 62.7 239.60000000000002 66.3 236.00000000000003 70.7 236.00000000000003 C 83.60000000000001 236.00000000000003 89.9 246.10000000000002 94.5 253.40000000000003 C 98.8 260.3 101 263.3 104.7 263.3 C 108.4 263.3 110.60000000000001 260.3 114.9 253.4 C 119.5 246.1 125.80000000000001 236 138.70000000000002 236 C 151.60000000000002 236 157.9 246.1 162.50000000000003 253.4 C 166.80000000000004 260.3 169.00000000000003 263.3 172.70000000000002 263.3 C 176.4 263.3 178.60000000000002 260.3 182.9 253.4 C 187.5 246.1 193.8 236 206.70000000000002 236 C 219.60000000000002 236 225.9 246.1 230.50000000000003 253.4 C 234.80000000000004 260.3 237.00000000000003 263.3 240.70000000000002 263.3 C 245.10000000000002 263.3 248.70000000000002 266.90000000000003 248.70000000000002 271.3 C 248.70000000000002 275.7 245.20000000000002 279.3 240.70000000000002 279.3 z M 262.7 229.3 C 248.89999999999998 229.3 242 219.5 237 212.3 C 231.9 205 229.3 202.10000000000002 224.3 202.10000000000002 C 219.3 202.10000000000002 216.8 205.10000000000002 211.60000000000002 212.3 C 206.50000000000003 219.5 199.60000000000002 229.3 185.90000000000003 229.3 C 172.10000000000002 229.3 165.20000000000005 219.5 160.20000000000005 212.3 C 155.10000000000005 205 152.50000000000006 202.10000000000002 147.50000000000006 202.10000000000002 C 142.50000000000006 202.10000000000002 140.00000000000006 205.10000000000002 134.80000000000007 212.3 C 129.70000000000007 219.5 122.80000000000007 229.3 109.10000000000007 229.3 C 95.40000000000006 229.3 88.40000000000006 219.5 83.40000000000006 212.3 C 78.20000000000006 205 75.60000000000007 202 70.70000000000006 202 C 66.30000000000005 202 62.70000000000006 198.4 62.70000000000006 194 C 62.70000000000006 189.6 66.30000000000005 186 70.70000000000006 186 C 84.50000000000006 186 91.40000000000006 195.8 96.40000000000006 203 C 101.50000000000006 210.3 104.10000000000007 213.2 109.10000000000007 213.2 C 114.10000000000007 213.2 116.60000000000007 210.2 121.80000000000007 203 C 126.90000000000006 195.8 133.80000000000007 186 147.50000000000006 186 C 161.20000000000005 186 168.20000000000005 195.8 173.20000000000005 203 C 178.30000000000004 210.3 180.90000000000003 213.2 185.90000000000003 213.2 C 190.90000000000003 213.2 193.40000000000003 210.2 198.60000000000002 203 C 203.70000000000002 195.8 210.60000000000002 186 224.3 186 C 238 186 245 195.8 250 203 C 255.1 210.3 257.7 213.2 262.7 213.2 C 267.09999999999997 213.2 270.7 216.79999999999998 270.7 221.2 C 270.7 225.6 267.09999999999997 229.29999999999998 262.7 229.29999999999998 z\" stroke-linecap=\"round\" id=\"hws_coil\"/>\n            </g> </g>\n            <g transform=\"matrix(0.78 0 0 0.78 -123.52 -318.79)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,235,77); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-352.7, -101.7)\" d=\"M 352.7 101.7 M 320.7 101.7 C 320.7 119.3731119945854 335.0268880054146 133.7 352.7 133.7 C 370.3731119945854 133.7 384.7 119.3731119945854 384.7 101.7 C 384.7 84.0268880054146 370.3731119945854 69.7 352.7 69.7 C 335.0268880054146 69.7 320.7 84.0268880054146 320.7 101.7 Z\" stroke-linecap=\"round\" id=\"hws_relay2\"/>\n            </g>\n            <g transform=\"matrix(0.78 0 0 0.78 -123.53 -318.8)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(154,45,47); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-352.7, -101.7)\" d=\"M 352.7 141.7 C 330.59999999999997 141.7 312.7 123.79999999999998 312.7 101.69999999999999 C 312.7 79.6 330.59999999999997 61.69999999999999 352.7 61.69999999999999 C 374.8 61.69999999999999 392.7 79.6 392.7 101.69999999999999 C 392.7 123.79999999999998 374.7 141.7 352.7 141.7 z M 352.7 77.69999999999999 C 339.5 77.69999999999999 328.7 88.49999999999999 328.7 101.69999999999999 C 328.7 114.89999999999999 339.5 125.69999999999999 352.7 125.69999999999999 C 365.9 125.69999999999999 376.7 114.89999999999999 376.7 101.69999999999999 C 376.7 88.49999999999999 365.9 77.69999999999999 352.7 77.69999999999999 z\" stroke-linecap=\"round\" id=\"hws_relay1\"/>\n            </g>\n            <g transform=\"matrix(0.78 0 0 0.78 -220.48 -107.91)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,235,77); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-228.6, -371.64)\" d=\"M 201.7 344.7 C 182.89999999999998 363.5 182.89999999999998 393.9 201.7 412.6 L 269.6 344.70000000000005 C 250.90000000000003 326.00000000000006 220.50000000000003 326.00000000000006 201.70000000000002 344.70000000000005 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(0.78 0 0 0.78 -6.03 218.55)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(199,235,255); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-503.7, -789.7)\" d=\"M 885.7 693.7 L 121.70000000000005 693.7 C 104.10000000000005 693.7 89.70000000000005 679.3000000000001 89.70000000000005 661.7 C 89.70000000000005 644.1 104.10000000000005 629.7 121.70000000000005 629.7 L 885.7 629.7 C 903.3000000000001 629.7 917.7 644.1 917.7 661.7 C 917.7 679.3000000000001 903.3000000000001 693.7 885.7 693.7 z M 685.7 949.7 L 323.70000000000005 949.7 C 213.70000000000005 949.7 123.70000000000005 859.7 123.70000000000005 749.7 L 123.70000000000005 693.7 L 885.7 693.7 L 885.7 749.7 C 885.7 859.7 795.7 949.7 685.7 949.7 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(0.78 0 0 0.78 238.18 -99.28)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,235,77); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-815.7, -382.7)\" d=\"M 847.7 430.7 L 783.7 430.7 C 774.9000000000001 430.7 767.7 423.5 767.7 414.7 L 767.7 334.7 L 863.7 334.7 L 863.7 414.7 C 863.7 423.5 856.5 430.7 847.7 430.7 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(0.78 0 0 0.78 281.92 -86.8)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,172,194); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-871.7, -398.7)\" d=\"M 909.7 462.7 L 833.7 462.7 C 824.9000000000001 462.7 817.7 455.5 817.7 446.7 L 817.7 334.7 L 925.7 334.7 L 925.7 446.7 C 925.7 455.5 918.5 462.7 909.7 462.7 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(0.78 0 0 0.78 -191.66 -79.63)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(154,45,47); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-265.5, -407.84)\" d=\"M 227 424.1 C 223.9 427.20000000000005 223.9 432.3 227 435.40000000000003 L 238 446.40000000000003 C 239.6 448.00000000000006 241.6 448.70000000000005 243.7 448.70000000000005 C 245.79999999999998 448.70000000000005 247.79999999999998 447.90000000000003 249.39999999999998 446.40000000000003 C 252.49999999999997 443.3 252.49999999999997 438.20000000000005 249.39999999999998 435.1 L 238.39999999999998 424.1 C 235.23214931528454 421.0002145893102 230.1678506847154 421.0002145893102 226.99999999999997 424.1 z M 265.9 396.2 C 262.79999999999995 393.09999999999997 257.7 393.09999999999997 254.59999999999997 396.2 C 251.49999999999997 399.3 251.49999999999997 404.4 254.59999999999997 407.5 L 265.59999999999997 418.5 C 267.2 420.1 269.2 420.8 271.29999999999995 420.8 C 273.3999999999999 420.8 275.4 420 276.99999999999994 418.5 C 280.09999999999997 415.4 280.09999999999997 410.3 276.99999999999994 407.2 L 265.8999999999999 396.2 z M 292.6 391.6 C 294.20000000000005 393.20000000000005 296.20000000000005 393.90000000000003 298.3 393.90000000000003 C 300.4 393.90000000000003 302.40000000000003 393.1 304 391.6 C 307.1 388.5 307.1 383.40000000000003 304 380.3 L 293 369.3 C 289.9 366.2 284.8 366.2 281.7 369.3 C 278.59999999999997 372.40000000000003 278.59999999999997 377.5 281.7 380.6 L 292.59999999999997 391.6 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(0.78 0 0 0.78 6.91 101.59)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(154,45,47); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-520.3, -640.25)\" d=\"M 950.7 735.7 C 945.7 735.7 943.2 732.7 938 725.5 C 932.9 718.3 926 708.5 912.3 708.5 C 904 708.5 898.0999999999999 712.1 893.6999999999999 716.6 L 893.6999999999999 701 C 905.8 698.5 915.9 690.6 921.4 679.9 C 922.5 681.1999999999999 923.6 682.8 925 684.8 C 930.1 692 937 701.8 950.7 701.8 C 955.1 701.8 958.7 698.1999999999999 958.7 693.8 C 958.7 689.4 955.1 685.8 950.7 685.8 C 945.7 685.8 943.2 682.8 938 675.5999999999999 C 934.9 671.1999999999999 931.2 665.8999999999999 925.6 662.3999999999999 L 925.6 661.8999999999999 C 925.6 642.5999999999999 911.8000000000001 626.3999999999999 893.6 622.6999999999998 L 893.6 470.1999999999998 L 909.6 470.1999999999998 C 922.8000000000001 470.1999999999998 933.6 459.3999999999998 933.6 446.1999999999998 L 933.6 342.1999999999998 L 949.6 342.1999999999998 C 954 342.1999999999998 957.6 338.5999999999998 957.6 334.1999999999998 C 957.6 329.79999999999984 954 326.1999999999998 949.6 326.1999999999998 L 744.6 326.1999999999998 C 740.2 326.1999999999998 736.6 329.79999999999984 736.6 334.1999999999998 C 736.6 338.5999999999998 740.2 342.1999999999998 744.6 342.1999999999998 L 759.6 342.1999999999998 L 759.6 414.1999999999998 C 759.6 427.3999999999998 770.4 438.1999999999998 783.6 438.1999999999998 L 809.6 438.1999999999998 L 809.6 446.1999999999998 C 809.6 459.3999999999998 820.4 470.1999999999998 833.6 470.1999999999998 L 877.6 470.1999999999998 L 877.6 621.6999999999998 L 875 621.6999999999998 C 868 611.9999999999998 857.1 605.2999999999998 844.6 603.7999999999998 C 838.3000000000001 586.7999999999998 821.8000000000001 575.0999999999998 803.3000000000001 575.0999999999998 L 802.6 575.0999999999998 C 793.5 561.9999999999998 778.5 553.9999999999998 762.3000000000001 553.9999999999998 C 751.4000000000001 553.9999999999998 741.0000000000001 557.5999999999998 732.5000000000001 564.0999999999998 C 726.2000000000002 560.7999999999998 719.2000000000002 558.9999999999998 712.0000000000001 558.9999999999998 C 704.8000000000001 558.9999999999998 697.9000000000001 560.6999999999998 691.7000000000002 563.8999999999997 C 680.2000000000002 550.8999999999997 663.5000000000001 543.2999999999997 645.9000000000002 543.2999999999997 C 639.4000000000002 543.2999999999997 633.1000000000003 544.2999999999997 627.1000000000003 546.2999999999997 C 619.3000000000003 532.9999999999998 604.9000000000002 524.5999999999997 589.1000000000003 524.5999999999997 C 586.2000000000003 524.5999999999997 583.3000000000003 524.8999999999996 580.4000000000002 525.4999999999997 C 567.9000000000002 504.29999999999967 544.8000000000002 490.99999999999966 520.0000000000002 490.99999999999966 C 495.60000000000025 490.99999999999966 473.30000000000024 503.39999999999964 460.5000000000002 523.7999999999996 C 457.7000000000002 523.3999999999996 455.0000000000002 523.0999999999996 452.2000000000002 523.0999999999996 C 440.5000000000002 523.0999999999996 429.2000000000002 527.0999999999996 420.1000000000002 534.1999999999996 C 412.3000000000002 527.9999999999995 402.7000000000002 524.4999999999995 392.50000000000017 524.4999999999995 C 373.8000000000002 524.4999999999995 357.20000000000016 536.3999999999995 351.1000000000002 553.6999999999996 C 333.00000000000017 555.6999999999996 317.4000000000002 567.6999999999996 310.6000000000002 584.3999999999996 C 300.6000000000002 582.3999999999996 290.00000000000017 583.1999999999996 280.4000000000002 586.7999999999996 C 270.9000000000002 569.9999999999997 252.9000000000002 559.1999999999996 233.20000000000022 559.1999999999996 C 213.9000000000002 559.1999999999996 196.10000000000022 569.5999999999996 186.4000000000002 586.0999999999996 C 167.5000000000002 588.4999999999995 152.20000000000022 603.1999999999996 148.70000000000022 621.6999999999996 L 131.70000000000022 621.6999999999996 L 131.70000000000022 381.1999999999996 C 131.70000000000022 359.09999999999957 149.60000000000022 341.1999999999996 171.70000000000022 341.1999999999996 C 178.3000000000002 341.1999999999996 184.60000000000022 342.7999999999996 190.4000000000002 345.8999999999996 C 174.5000000000002 367.79999999999956 176.4000000000002 398.6999999999996 196.20000000000022 418.3999999999996 C 197.8000000000002 419.9999999999996 199.8000000000002 420.6999999999996 201.9000000000002 420.6999999999996 C 204.0000000000002 420.6999999999996 206.0000000000002 419.8999999999996 207.6000000000002 418.3999999999996 L 275.5000000000002 350.49999999999955 C 278.60000000000025 347.3999999999995 278.60000000000025 342.29999999999956 275.5000000000002 339.19999999999953 C 264.9000000000002 328.5999999999995 250.80000000000024 322.79999999999956 235.90000000000023 322.79999999999956 C 223.50000000000023 322.79999999999956 211.70000000000024 326.79999999999956 202.00000000000023 334.19999999999953 C 193.00000000000023 328.3999999999995 182.60000000000022 325.29999999999956 171.80000000000024 325.29999999999956 C 140.90000000000023 325.29999999999956 115.80000000000024 350.3999999999996 115.80000000000024 381.29999999999956 L 115.80000000000024 622.1999999999996 C 96.60000000000024 625.0999999999996 81.80000000000024 641.6999999999996 81.80000000000024 661.6999999999996 C 81.80000000000024 681.6999999999996 96.60000000000024 698.2999999999996 115.80000000000024 701.1999999999996 L 115.80000000000024 749.6999999999996 C 115.80000000000024 804.9999999999995 137.50000000000023 857.1999999999996 176.90000000000023 896.5999999999996 C 196.50000000000023 916.1999999999996 219.20000000000022 931.2999999999996 243.80000000000024 941.6999999999996 L 98.80000000000024 941.6999999999996 C 94.40000000000023 941.6999999999996 90.80000000000024 945.2999999999996 90.80000000000024 949.6999999999996 C 90.80000000000024 954.0999999999996 94.40000000000023 957.6999999999996 98.80000000000024 957.6999999999996 L 922.8000000000002 957.6999999999996 C 927.2000000000002 957.6999999999996 930.8000000000002 954.0999999999996 930.8000000000002 949.6999999999996 C 930.8000000000002 945.2999999999996 927.2000000000002 941.6999999999996 922.8000000000002 941.6999999999996 L 765.8000000000002 941.6999999999996 C 790.5000000000002 931.3999999999996 813.2000000000002 916.1999999999996 832.7000000000002 896.5999999999996 C 872.1000000000001 857.1999999999996 893.8000000000002 804.9999999999995 893.8000000000002 749.6999999999996 L 893.8000000000002 742.2999999999996 C 896.1000000000001 739.7999999999996 898.0000000000002 736.9999999999997 899.7000000000002 734.5999999999996 C 904.8000000000002 727.2999999999996 907.4000000000002 724.3999999999995 912.4000000000002 724.3999999999995 C 917.4000000000002 724.3999999999995 919.9000000000002 727.3999999999995 925.1000000000003 734.5999999999996 C 930.2000000000003 741.7999999999996 937.1000000000003 751.5999999999996 950.8000000000003 751.5999999999996 C 955.2000000000003 751.5999999999996 958.8000000000003 747.9999999999995 958.8000000000003 743.5999999999996 C 958.8000000000003 739.1999999999996 955.1000000000003 735.6999999999996 950.7000000000003 735.6999999999996 z M 809.7 422.20000000000005 L 783.7 422.20000000000005 C 779.3000000000001 422.20000000000005 775.7 418.6 775.7 414.20000000000005 L 775.7 342.20000000000005 L 809.7 342.20000000000005 L 809.7 422.20000000000005 z M 207.4000000000001 350.40000000000003 C 215.00000000000009 342.8 225.00000000000009 338.70000000000005 235.7000000000001 338.70000000000005 C 243.7000000000001 338.70000000000005 251.3000000000001 341.00000000000006 257.8000000000001 345.30000000000007 L 202.30000000000013 400.80000000000007 C 192.0000000000001 385.30000000000007 193.70000000000013 364.1000000000001 207.40000000000012 350.4000000000001 z M 833.7 454.20000000000005 C 829.3000000000001 454.20000000000005 825.7 450.6 825.7 446.20000000000005 L 825.7 342.20000000000005 L 917.7 342.20000000000005 L 917.7 446.20000000000005 C 917.7 450.6 914.1 454.20000000000005 909.7 454.20000000000005 L 833.7 454.20000000000005 z M 191.5 601.7 C 194.5 601.7 197.3 599.9000000000001 198.6 597.1 C 204.9 583.8000000000001 218.4 575.2 233.2 575.2 C 249.1 575.2 263.5 585.2 269 600.1 C 269.8 602.3000000000001 271.5 604 273.7 604.8000000000001 C 275.9 605.6000000000001 278.3 605.4000000000001 280.4 604.3000000000001 C 286.29999999999995 601.0000000000001 292.9 599.3000000000001 299.7 599.3000000000001 C 304.3 599.3000000000001 308.9 600.1 313.2 601.7 C 315.4 602.5 317.8 602.3000000000001 319.8 601.2 C 321.8 600.1 323.3 598.1 323.7 595.9000000000001 C 327 580.6000000000001 340.8 569.4000000000001 356.5 569.4000000000001 L 357.2 569.4000000000001 C 361 569.4000000000001 364.3 566.7 365 563.0000000000001 C 367.6 550.0000000000001 379.2 540.5000000000001 392.4 540.5000000000001 C 400.59999999999997 540.5000000000001 408.4 544.1000000000001 413.7 550.4000000000001 C 415.2 552.1000000000001 417.3 553.2 419.59999999999997 553.2 C 421.8999999999999 553.2 424.09999999999997 552.3000000000001 425.59999999999997 550.6 C 432.49999999999994 543.2 441.9 539.1 451.99999999999994 539.1 C 455.3999999999999 539.1 458.79999999999995 539.6 462.09999999999997 540.5 C 465.79999999999995 541.6 469.7 539.9 471.49999999999994 536.5 C 480.99999999999994 518.3 499.49999999999994 507 520 507 C 541 507 560.3 519.3 569.2 538.3 C 571 542.0999999999999 575.4000000000001 543.9 579.3000000000001 542.4 C 582.5000000000001 541.1999999999999 585.8000000000001 540.6 589.2 540.6 C 601 540.6 611.6 548.1 615.6 559.2 C 616.4 561.3000000000001 618 563 620.1 563.9000000000001 C 622.2 564.8000000000001 624.6 564.7 626.6 563.7 C 632.7 560.8000000000001 639.2 559.3000000000001 646 559.3000000000001 C 660.9 559.3000000000001 674.9 566.7 683.3 579.0000000000001 C 684.5 580.8000000000001 686.5 582.0000000000001 688.6999999999999 582.4000000000001 C 690.9 582.7 693.0999999999999 582.2 694.8 580.8000000000001 C 699.8 576.9000000000001 705.6999999999999 574.9000000000001 712 574.9000000000001 C 718 574.9000000000001 723.8 576.8000000000001 728.6 580.4000000000001 C 731.8000000000001 582.8000000000001 736.2 582.4000000000001 739 579.6000000000001 C 745.2 573.3000000000002 753.5 569.9000000000001 762.4 569.9000000000001 C 774.5 569.9000000000001 785.6 576.5000000000001 791.4 587.2 C 793 590.1 796.1999999999999 591.8000000000001 799.5 591.3000000000001 C 800.8 591.1 802.1 591.0000000000001 803.4 591.0000000000001 C 816.5 591.0000000000001 828 600.3000000000001 830.8 613.1000000000001 C 831.5999999999999 616.8000000000002 834.9 619.4000000000001 838.5999999999999 619.4000000000001 L 839.3999999999999 619.4000000000001 C 843.2999999999998 619.4000000000001 846.9999999999999 620.2 850.3999999999999 621.7 L 165.0999999999999 621.7 C 168.49999999999991 610.3000000000001 179.0999999999999 601.9000000000001 191.49999999999991 601.7 z M 877.7 749.7 C 877.7 800.8000000000001 857.7 848.9000000000001 821.3000000000001 885.3000000000001 C 784.9000000000001 921.7 736.8000000000001 941.7 685.7 941.7 L 323.70000000000005 941.7 C 272.6 941.7 224.50000000000006 921.7 188.10000000000005 885.3000000000001 C 151.70000000000005 848.9000000000001 131.70000000000005 800.8000000000001 131.70000000000005 749.7 L 131.70000000000005 701.7 L 877.7 701.7 L 877.7 749.7 z M 885.7 685.7 L 121.70000000000005 685.7 C 108.50000000000004 685.7 97.70000000000005 674.9000000000001 97.70000000000005 661.7 C 97.70000000000005 648.5 108.50000000000004 637.7 121.70000000000005 637.7 L 885.7 637.7 C 898.9000000000001 637.7 909.7 648.5 909.7 661.7 C 909.7 674.9000000000001 898.9000000000001 685.7 885.7 685.7 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(0.78 0 0 0.78 -2.77 42.62)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-507.75, -564.35)\" d=\"M 838.8 619.4 L 838.5999999999999 619.4 C 834.8999999999999 619.4 831.5999999999999 616.8 830.8 613.1 C 828 600.3000000000001 816.5 591 803.4 591 C 802.1 591 800.8 591.1 799.5 591.3 C 796.2 591.8 793 590.0999999999999 791.4 587.1999999999999 C 785.6 576.4999999999999 774.5 569.9 762.4 569.9 C 753.5 569.9 745.1999999999999 573.3 739 579.6 C 736.2 582.4 731.8 582.8000000000001 728.6 580.4 C 723.8000000000001 576.8 718 574.9 712 574.9 C 705.7 574.9 699.8 576.9 694.8 580.8 C 693.0999999999999 582.1999999999999 690.9 582.6999999999999 688.6999999999999 582.4 C 686.4999999999999 582 684.4999999999999 580.8 683.3 579 C 674.9 566.7 660.9 559.3 646 559.3 C 639.2 559.3 632.7 560.8 626.6 563.6999999999999 C 624.6 564.6999999999999 622.2 564.8 620.1 563.9 C 618 563 616.4 561.3 615.6 559.1999999999999 C 611.6 548.0999999999999 601 540.5999999999999 589.2 540.5999999999999 C 585.8000000000001 540.5999999999999 582.5 541.1999999999999 579.3000000000001 542.3999999999999 C 575.4000000000001 543.8999999999999 571.0000000000001 542.0999999999999 569.2 538.2999999999998 C 560.3000000000001 519.2999999999998 541 506.99999999999983 520 506.99999999999983 C 499.5 506.99999999999983 481 518.2999999999998 471.5 536.4999999999998 C 469.7 539.8999999999997 465.8 541.5999999999998 462.1 540.4999999999998 C 458.8 539.5999999999998 455.40000000000003 539.0999999999998 452 539.0999999999998 C 441.9 539.0999999999998 432.5 543.1999999999998 425.6 550.5999999999998 C 424.1 552.2999999999998 421.90000000000003 553.1999999999998 419.6 553.1999999999998 C 417.3 553.1999999999998 415.20000000000005 552.0999999999998 413.70000000000005 550.3999999999999 C 408.40000000000003 544.0999999999999 400.6 540.4999999999999 392.40000000000003 540.4999999999999 C 379.20000000000005 540.4999999999999 367.6 549.9999999999999 365.00000000000006 562.9999999999999 C 364.30000000000007 566.6999999999999 361.00000000000006 569.3999999999999 357.20000000000005 569.3999999999999 L 356.50000000000006 569.3999999999999 C 340.80000000000007 569.3999999999999 327.00000000000006 580.5999999999999 323.70000000000005 595.8999999999999 C 323.30000000000007 598.0999999999999 321.80000000000007 600.0999999999999 319.80000000000007 601.1999999999998 C 317.80000000000007 602.2999999999998 315.4000000000001 602.4999999999998 313.20000000000005 601.6999999999998 C 308.90000000000003 600.0999999999998 304.30000000000007 599.2999999999998 299.70000000000005 599.2999999999998 C 292.90000000000003 599.2999999999998 286.30000000000007 600.9999999999999 280.40000000000003 604.2999999999998 C 278.3 605.3999999999999 275.90000000000003 605.5999999999998 273.70000000000005 604.7999999999998 C 271.50000000000006 603.9999999999999 269.80000000000007 602.2999999999998 269.00000000000006 600.0999999999998 C 263.50000000000006 585.1999999999998 249.10000000000005 575.1999999999998 233.20000000000005 575.1999999999998 C 218.40000000000003 575.1999999999998 204.90000000000003 583.7999999999998 198.60000000000005 597.0999999999998 C 197.30000000000004 599.8999999999997 194.50000000000006 601.6999999999998 191.50000000000006 601.6999999999998 C 179.10000000000005 601.8999999999999 168.50000000000006 610.2999999999998 165.10000000000005 621.6999999999998 L 850.4 621.6999999999998 C 847 620.1999999999998 843.3 619.3999999999999 839.4 619.3999999999999 L 838.8 619.3999999999999 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(0.78 0 0 0.78 17.08 116.58)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-532.9, -658.95)\" d=\"M 390.8 661.7 C 420.3 659.4000000000001 446.2 639.8000000000001 480.20000000000005 646.3000000000001 C 499.90000000000003 650.1 520.1 679.7 547.6 680.2 C 571.2 680.6 581.6 647.1 598.1 647.7 C 611.6 648.2 617.6 665.2 659.1 665.2 C 678 665.2 693.3000000000001 651.5 710.2 637.7 L 355.6 637.7 C 364.5 649.9000000000001 373 663.1 390.8 661.7 z\" stroke-linecap=\"round\"/>\n            </g>\n        </g>\n    </g>\n    <g transform=\"matrix(0.35 0 0 0.35 384 412.53)\">\n        <g style=\"\" vector-effect=\"non-scaling-stroke\">\n            <g transform=\"matrix(1 0 0 1 150.03 -136.13)\">\n                <rect style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,113,206); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" x=\"-49.645\" y=\"-76.375\" rx=\"0\" ry=\"0\" width=\"99.29\" height=\"152.75\"/>\n            </g>\n            <g transform=\"matrix(1 0 0 1 150.02 -208.41)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,168,225); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-406.02, -47.59)\" d=\"M 465.857 70.44 C 465.857 73.441 463.403 75.895 460.40200000000004 75.895 L 351.645 75.895 C 348.644 75.895 346.19 73.44 346.19 70.44 L 346.19 24.744 C 346.19 21.743 348.644 19.289 351.645 19.289 L 460.402 19.289 C 463.402 19.289 465.85699999999997 21.744 465.85699999999997 24.744 L 465.85699999999997 70.44 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1 0 0 1 0 29.33)\">\n                <polygon style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,168,225); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" points=\"221.96,-40.45 0,-207.37 -221.96,-40.45 -221.96,207.37 221.96,207.37 \"/>\n            </g>\n            <g transform=\"matrix(1 0 0 1 -185.9 146.49)\">\n                <rect style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,113,206); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" x=\"-36.065\" y=\"-24.02\" rx=\"0\" ry=\"0\" width=\"72.13\" height=\"48.04\"/>\n            </g>\n            <g transform=\"matrix(1 0 0 1 185.91 70.68)\">\n                <rect style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,113,206); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" x=\"-36.065\" y=\"-24.02\" rx=\"0\" ry=\"0\" width=\"72.13\" height=\"48.04\"/>\n            </g>\n            <g transform=\"matrix(1 0 0 1 0 -93.17)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,85,184); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-256, -162.83)\" d=\"M 264.72 114.868 L 495.273 288.255 C 500.069 291.861 503.99300000000005 289.903 503.99300000000005 283.902 L 503.99300000000005 229.149 C 503.99300000000005 223.148 500.0690000000001 215.286 495.273 211.68 L 264.72 38.294 C 259.92400000000004 34.687999999999995 252.07500000000002 34.687999999999995 247.28000000000003 38.294 L 16.727 211.68 C 11.931000000000001 215.286 8.007 223.148 8.007 229.149 L 8.007 283.902 C 8.007 289.90299999999996 11.931 291.861 16.727 288.255 L 247.28 114.868 C 252.076 111.262 259.924 111.262 264.72 114.868 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1 0 0 1 0 129.4)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,113,206); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-256, -385.39)\" d=\"M 340.895 492.71 L 340.895 299.9 C 340.895 287.899 331.075 278.07899999999995 319.073 278.07899999999995 L 192.927 278.07899999999995 C 180.92499999999998 278.07899999999995 171.105 287.89899999999994 171.105 299.9 L 171.105 492.71 L 340.895 492.71 L 340.895 492.71 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1 0 0 1 0.01 92.84)\">\n                <rect style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" x=\"-54.555\" y=\"-29.635\" rx=\"0\" ry=\"0\" width=\"109.11\" height=\"59.27\"/>\n            </g>\n            <g transform=\"matrix(1 0 0 1 0 -45.57)\">\n                <circle style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" cx=\"0\" cy=\"0\" r=\"37.462\"/>\n            </g>\n            <g transform=\"matrix(1 0 0 1 0 0)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(30,37,43); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-256, -256)\" d=\"M 500.086 205.281 L 463.67600000000004 177.899 L 463.67600000000004 83.484 C 469.52000000000004 82.01599999999999 473.86500000000007 76.73299999999999 473.86500000000007 70.44 L 473.86500000000007 24.744 C 473.86500000000007 17.320999999999998 467.8260000000001 11.282 460.4030000000001 11.282 L 351.645 11.282 C 344.222 11.282 338.183 17.320999999999998 338.183 24.744 L 338.183 70.44 C 338.183 76.733 342.529 82.01599999999999 348.372 83.484 L 348.372 91.18599999999999 L 269.53200000000004 31.894999999999996 C 265.83400000000006 29.114999999999995 261.02900000000005 27.582999999999995 256.00000000000006 27.582999999999995 C 250.97100000000006 27.582999999999995 246.16600000000005 29.114999999999995 242.46700000000007 31.894999999999996 L 11.915 205.281 C 5.122 210.388 0 220.649 0 229.149 L 0 283.902 C 0 293.635 6.354 298.07 12.258 298.07099999999997 L 12.26 298.07099999999997 C 15.358 298.07099999999997 18.567 296.89 21.54 294.655 L 26.031 291.277 L 26.031 492.71 C 26.031 497.133 29.616 500.717 34.038 500.717 L 477.962 500.717 C 482.384 500.717 485.969 497.133 485.969 492.71 L 485.969 291.276 L 490.46 294.654 C 493.43199999999996 296.89 496.64 298.07 499.73999999999995 298.07 C 505.64399999999995 298.07 511.99899999999997 293.63599999999997 511.99899999999997 283.901 L 511.99899999999997 229.14800000000002 C 512 220.649 506.878 210.388 500.086 205.281 z M 354.197 27.295 L 457.85 27.295 L 457.85 67.888 L 354.197 67.888 L 354.197 27.295 z M 447.661 83.903 L 447.661 165.856 L 364.38599999999997 103.22999999999999 L 364.38599999999997 83.903 L 447.661 83.903 z M 332.888 484.703 L 179.112 484.703 L 179.112 299.9 C 179.112 292.28299999999996 185.309 286.08599999999996 192.927 286.08599999999996 L 319.073 286.08599999999996 C 326.69 286.08599999999996 332.888 292.28299999999996 332.888 299.9 L 332.888 484.703 z M 469.955 484.703 L 348.902 484.703 L 348.902 299.9 C 348.902 283.453 335.52099999999996 270.072 319.073 270.072 L 192.927 270.072 C 176.48 270.072 163.09799999999998 283.452 163.09799999999998 299.9 L 163.09799999999998 484.703 L 42.045 484.703 L 42.045 279.23299999999995 L 252.09199999999998 121.26699999999994 C 253.00599999999997 120.57899999999994 254.46699999999998 120.17099999999994 255.99999999999997 120.17099999999994 C 257.53299999999996 120.17099999999994 258.99499999999995 120.58099999999993 259.907 121.26699999999994 L 469.955 279.23199999999997 L 469.955 484.702 L 469.955 484.702 z M 495.986 278.772 L 269.532 108.469 C 265.834 105.689 261.029 104.157 255.99999999999997 104.157 C 250.97199999999998 104.157 246.16599999999997 105.689 242.46699999999998 108.469 L 16.014 278.772 L 16.014 229.149 C 16.014 225.659 18.75 220.176 21.54 218.079 L 252.092 44.693 C 253.006 44.007 254.467 43.596999999999994 256 43.596999999999994 C 257.533 43.596999999999994 258.995 44.00699999999999 259.907 44.693 L 490.46 218.07999999999998 C 493.24899999999997 220.177 495.98499999999996 225.66099999999997 495.98499999999996 229.14999999999998 L 495.98499999999996 278.772 z M 310.554 311.203 L 201.446 311.203 C 197.024 311.203 193.439 314.787 193.439 319.21 L 193.439 378.479 C 193.439 382.902 197.024 386.486 201.446 386.486 L 310.554 386.486 C 314.976 386.486 318.561 382.902 318.561 378.479 L 318.561 319.21 C 318.561 314.787 314.976 311.203 310.554 311.203 z M 302.547 370.471 L 209.45300000000003 370.471 L 209.45300000000003 327.216 L 302.547 327.216 L 302.547 370.471 z M 210.524 210.435 C 210.524 235.50900000000001 230.923 255.90800000000002 255.996 255.90800000000002 C 281.069 255.90800000000002 301.468 235.50900000000001 301.468 210.435 C 301.468 185.362 281.069 164.963 255.996 164.963 C 230.923 164.963 210.524 185.362 210.524 210.435 z M 285.453 210.435 C 285.453 226.679 272.238 239.894 255.99499999999998 239.894 C 239.75199999999995 239.894 226.53699999999998 226.678 226.53699999999998 210.435 C 226.53699999999998 194.192 239.75199999999998 180.977 255.99499999999998 180.977 C 272.23799999999994 180.977 285.453 194.192 285.453 210.435 z\" stroke-linecap=\"round\"/>\n            </g>\n        </g>\n    </g>\n    <g transform=\"matrix(0.23 0 0 0.23 267.43 94.79)\">\n        <g style=\"\" vector-effect=\"non-scaling-stroke\">\n            <g transform=\"matrix(12.5 0 0 12.5 -99.92 -243.33)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(252,221,124); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-24.01, -12.54)\" d=\"M 24.89 17 L 23.11 16.11 L 24.38 13.549999999999999 L 22 13.549999999999999 C 21.65449853036207 13.550691386831067 21.333115453776088 13.372985450365878 21.15 13.079999999999998 C 20.971367205045915 12.770598923241495 20.971367205045915 12.389401076758501 21.15 12.079999999999998 L 23.15 8.079999999999998 L 24.89 9 L 23.62 11.55 L 26 11.55 C 26.34659320841818 11.551048881646484 26.667928593931187 11.731492181456305 26.849236926888327 12.02688216211682 C 27.03054525984547 12.322272142777335 27.045969245070687 12.690481750350004 26.89 13 Z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(12.5 0 0 12.5 -95.63 -165.65)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(101,200,208); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-24.35, -18.76)\" d=\"M 10.18 27 L 9.82 25 C 10.040000000000001 25 31.42 21 37.120000000000005 10.51 L 38.88 11.51 C 32.72 22.79 11.1 26.83 10.18 27 Z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(12.5 0 0 12.5 -200 100)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(143,108,86); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-16, -40.01)\" d=\"M 21.46 44 L 23 44 L 23 42 L 21 42 L 19.84 37 L 21 37 L 21 35 L 19.36 35 L 18 29 L 30 29 L 26 25 L 17 25 L 17 24.77 C 16.888500206170367 24.325110600138874 16.48864886583621 24.013104915622865 16.03 24.013104915622865 C 15.57135113416379 24.013104915622865 15.171499793829636 24.325110600138878 15.06 24.77 L 15 25 L 6 25 L 2 29 L 14 29 L 12.6 35 L 11 35 L 11 37 L 12.17 37 L 11 42 L 9 42 L 9 44 L 10.54 44 L 8.21 54 L 7 54 L 7 56 L 11 56 L 11 54 L 10.26 54 L 10.76 51.85 L 16 47.57 L 21.240000000000002 51.85 L 21.740000000000002 54 L 21 54 L 21 56 L 25 56 L 25 54 L 23.79 54 Z M 18.94 42 L 13.83 42 L 18.05 38.2 Z M 17.310000000000002 35 L 14.69 35 L 16 29.4 Z M 14.230000000000002 37 L 16.39 37 L 13.65 39.47 Z M 11.51 48.66 L 12.44 44.66 L 14.44 46.279999999999994 Z M 16 45 L 14.8 44 L 17.2 44 Z M 17.58 46.29 L 19.58 44.67 L 20.509999999999998 48.67 Z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(12.5 0 0 12.5 -75 24.92)\">\n                <polygon style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(131,139,197); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" points=\"3,0 3,-2 1,-2 1,-5 -1,-5 -1,-2 -3,-2 -3,0 -1,0 -1,1 -3,1 -3,3 -1,3 -1,5 1,5 1,3 3,3 3,1 1,1 1,0 3,0 \"/>\n            </g>\n            <g transform=\"matrix(12.5 0 0 12.5 -325 24.92)\">\n                <polygon style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(131,139,197); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" points=\"1,5 1,3 3,3 3,1 1,1 1,0 3,0 3,-2 1,-2 1,-5 -1,-5 -1,-2 -3,-2 -3,0 -1,0 -1,1 -3,1 -3,3 -1,3 -1,5 1,5 \"/>\n            </g>\n            <g transform=\"matrix(12.5 0 0 12.5 200 -100)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(143,108,86); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-48, -24.01)\" d=\"M 53.46 28 L 55 28 L 55 26 L 53 26 L 51.84 21 L 53 21 L 53 19 L 51.36 19 L 50 13 L 62 13 L 58 9 L 49 9 L 49 8.77 C 48.88850020617036 8.325110600138878 48.48864886583621 8.013104915622868 48.03 8.013104915622868 C 47.57135113416379 8.013104915622868 47.17149979382964 8.325110600138878 47.06 8.77 L 47 9 L 38 9 L 34 13 L 46 13 L 44.6 19 L 43 19 L 43 21 L 44.17 21 L 43 26 L 41 26 L 41 28 L 42.54 28 L 40.21 38 L 39 38 L 39 40 L 43 40 L 43 38 L 42.26 38 L 42.76 35.85 L 48 31.57 L 53.24 35.85 L 53.74 38 L 53 38 L 53 40 L 57 40 L 57 38 L 55.79 38 Z M 50.94 26 L 45.83 26 L 50.05 22.2 Z M 49.309999999999995 19 L 46.69 19 L 48 13.4 Z M 46.23 21 L 48.39 21 L 45.65 23.47 Z M 43.51 32.66 L 44.44 28.659999999999997 L 46.44 30.279999999999998 Z M 48 29 L 46.8 28 L 49.199999999999996 28 Z M 49.58 30.29 L 51.58 28.669999999999998 L 52.51 32.67 Z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(12.5 0 0 12.5 325 -175.08)\">\n                <polygon style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(131,139,197); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" points=\"3,0 3,-2 1,-2 1,-5 -1,-5 -1,-2 -3,-2 -3,0 -1,0 -1,1 -3,1 -3,3 -1,3 -1,5 1,5 1,3 3,3 3,1 1,1 1,0 3,0 \"/>\n            </g>\n            <g transform=\"matrix(12.5 0 0 12.5 75 -175.08)\">\n                <polygon style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(131,139,197); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" points=\"1,5 1,3 3,3 3,1 1,1 1,0 3,0 3,-2 1,-2 1,-5 -1,-5 -1,-2 -3,-2 -3,0 -1,0 -1,1 -3,1 -3,3 -1,3 -1,5 1,5 \"/>\n            </g>\n        </g>\n    </g>\n    <g transform=\"matrix(0.22 0 0 0.22 506.5 86.78)\">\n        <g style=\"\" vector-effect=\"non-scaling-stroke\">\n            <g transform=\"matrix(18.01 0 0 18.01 -0.06 -198.98)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,152,0); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-24, -12.93)\" d=\"M 23.99899915 4.93619943 L 31.98809915 12.925299429999999 L 23.99899915 20.91439943 L 16.00989915 12.925299429999999 z\" stroke-linecap=\"round\" id=\"pv_sun2\"/>\n            </g>\n            <g transform=\"matrix(18.01 0 0 18.01 -0.03 -197.62)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,152,0); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-24, -13)\" d=\"M 18 7 L 30 7 L 30 19 L 18 19 z\" stroke-linecap=\"round\" id=\"pv_sun1\"/>\n            </g>\n            <g transform=\"matrix(18.01 0 0 18.01 -0.02 -197.61)\">\n                <circle style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,235,59); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" cx=\"0\" cy=\"0\" r=\"4\" id=\"pv_sun3\"/>\n            </g>\n            <g transform=\"matrix(18.01 0 0 18.01 -0.09 126.64)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(191,54,12); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-24, -31)\" d=\"M 8.6 24.5 L 5 39 L 43 39 L 39.4 24.5 C 39.199999999999996 23.6 38.4 23 37.5 23 L 10.6 23 C 9.6 23 8.799999999999999 23.6 8.6 24.5 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(18.01 0 0 18.01 -0.09 306.82)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(158,45,10); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-24, -41)\" d=\"M 5 41 L 5 39 L 43 39 L 43 41 C 43 42.1 42.1 43 41 43 L 7 43 C 5.9 43 5 42.1 5 41 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(18.01 0 0 18.01 -0.08 126.65)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(245,124,0); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-24, -31)\" d=\"M 18 25 L 11 25 L 10 29 L 17.6 29 z M 28 25 L 20 25 L 19.7 29 L 28.299999999999997 29 z M 37 25 L 30 25 L 30.4 29 L 38 29 z M 8 37 L 16.7 37 L 17.3 31 L 9.5 31 z M 31.3 37 L 40 37 L 38.5 31 L 30.7 31 z M 19.1 37 L 28.900000000000002 37 L 28.500000000000004 31 L 19.500000000000004 31 z\" stroke-linecap=\"round\" id=\"pv_panels\"/>\n            </g>\n        </g>\n    </g>\n    <g transform=\"matrix(0.14 0 0 0.14 514.33 767.06)\">\n        <g style=\"\" vector-effect=\"non-scaling-stroke\">\n            <g transform=\"matrix(1.56 0 0 1.56 -0.62 -67.66)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(91,122,127); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-256, -212.88)\" d=\"M 503.916 304.505 L 503.916 315.284 C 503.916 324.21299999999997 496.677 331.452 487.748 331.452 L 24.253 331.452 C 15.324 331.452 8.085 324.213 8.085 315.284 L 8.085 304.505 C 8.085 295.576 15.324000000000002 288.337 24.253 288.337 L 487.748 288.337 C 496.677 288.337 503.916 295.576 503.916 304.505 z M 202.78 155.604 L 310.15999999999997 146.21 L 307.34099999999995 113.99600000000001 C 306.30299999999994 102.13600000000001 295.847 93.36200000000001 283.98599999999993 94.399 L 219.55799999999994 100.035 C 207.69699999999995 101.073 198.92399999999992 111.529 199.96099999999993 123.39 L 202.78 155.604 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -0.45 168.15)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(118,156,165); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-256, -363.79)\" d=\"M 436.872 279.703 L 425.45 393.92699999999996 C 421.041 438.00899999999996 383.948 471.57899999999995 339.64599999999996 471.57899999999995 L 172.354 471.57899999999995 C 128.053 471.57899999999995 90.95900000000002 438.00899999999996 86.55000000000001 393.92699999999996 L 75.128 279.703 C 73.859 267.012 83.825 256 96.579 256 L 415.42 256 C 428.175 256 438.14 267.012 436.872 279.703 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 2.45 66.04)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(144,181,191); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-257.88, -298.54)\" d=\"M 436.872 279.703 L 425.45 393.92699999999996 C 421.041 438.00899999999996 383.948 471.57899999999995 339.64599999999996 471.57899999999995 L 271.62699999999995 471.57899999999995 C 227.32599999999996 471.57899999999995 190.23199999999997 438.00899999999996 185.82299999999995 393.92699999999996 L 174.4 279.703 C 173.131 267.012 183.097 256 195.851 256 L 415.41999999999996 256 C 428.175 256 438.14 267.012 436.872 279.703 z M 451.161 150.104 C 449.864 135.27800000000002 436.794 124.31000000000002 421.967 125.60800000000002 L 89.092 154.731 C 74.26599999999999 156.029 63.299 169.09799999999998 64.596 183.92499999999998 L 64.596 183.92499999999998 C 65.893 198.74999999999997 78.96300000000001 209.718 93.789 208.421 L 426.666 179.298 C 441.492 178 452.458 164.93 451.161 150.104 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 2.45 -129)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(118,156,165); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-257.88, -173.49)\" d=\"M 451.161 150.104 C 452.458 164.93 441.491 178 426.665 179.298 L 93.79 208.421 C 78.964 209.718 65.894 198.751 64.596 183.92499999999998 L 64.596 183.92499999999998 C 64.07600000000001 177.98299999999998 65.531 172.325 68.41 167.59099999999998 C 73.57 176.07 83.232 181.36799999999997 93.78999999999999 180.444 L 426.66499999999996 151.321 C 435.549 150.544 443.04299999999995 145.537 447.34799999999996 138.462 C 449.435 141.89 450.789 145.835 451.161 150.104 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 126.22 75.64)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,162,51); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-336.84, -304.51)\" d=\"M 363.789 245.221 C 369.74199999999996 245.221 374.568 250.047 374.568 256 L 374.568 342.23199999999997 C 374.568 354.39899999999994 364.489 364.212 352.224 363.77599999999995 C 340.542 363.36099999999993 331.452 353.40399999999994 331.452 341.71599999999995 L 331.452 328.54599999999994 C 327.713 330.71099999999996 323.278 331.80999999999995 318.547 331.3499999999999 C 307.425 330.2679999999999 299.115 320.5809999999999 299.115 309.4049999999999 L 299.115 256 C 299.115 250.047 303.94100000000003 245.221 309.894 245.221 L 331.452 245.221 L 342.231 245.221 L 363.789 245.221 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 151.52 33.61)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,194,72); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-353.01, -277.56)\" d=\"M 353.01 309.895 L 353.01 309.895 C 341.104 309.895 331.452 300.24399999999997 331.452 288.337 L 331.452 245.221 L 363.789 245.221 C 369.74199999999996 245.221 374.568 250.047 374.568 256 L 374.568 288.337 C 374.568 300.243 364.917 309.895 353.01 309.895 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -0.64 -0.64)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-256, -256)\" d=\"M 344.926 83.537 L 344.926 8.084 C 344.926 3.6179999999999994 348.544 0 353.01 0 C 357.476 0 361.094 3.618 361.094 8.084 L 361.094 83.537 C 361.094 88.003 357.476 91.62100000000001 353.01 91.62100000000001 C 348.545 91.621 344.926 88.003 344.926 83.537 z M 385.347 91.621 C 389.813 91.621 393.431 88.003 393.431 83.53699999999999 L 393.431 8.084 C 393.431 3.6179999999999994 389.813 0 385.347 0 C 380.881 0 377.263 3.618 377.263 8.084 L 377.263 83.537 C 377.263 88.003 380.882 91.621 385.347 91.621 z M 512 304.505 L 512 315.284 C 512 328.656 501.12 339.537 487.747 339.537 L 460.8 339.537 C 456.334 339.537 452.716 335.919 452.716 331.453 C 452.716 326.98699999999997 456.334 323.36899999999997 460.8 323.36899999999997 L 487.747 323.36899999999997 C 492.20500000000004 323.36899999999997 495.831 319.743 495.831 315.28499999999997 L 495.831 304.506 C 495.831 300.04799999999994 492.20500000000004 296.42199999999997 487.747 296.42199999999997 L 443.324 296.42199999999997 L 433.494 394.73199999999997 C 428.65200000000004 443.15099999999995 388.305 479.664 339.646 479.664 L 172.354 479.664 C 123.69400000000002 479.664 83.34800000000001 443.151 78.50600000000001 394.73199999999997 L 68.67600000000002 296.42199999999997 L 24.253 296.42199999999997 C 19.795 296.42199999999997 16.169 300.04799999999994 16.169 304.506 L 16.169 315.28499999999997 C 16.169 319.743 19.795 323.36899999999997 24.253 323.36899999999997 L 51.2 323.36899999999997 C 55.666000000000004 323.36899999999997 59.284000000000006 326.98699999999997 59.284000000000006 331.453 C 59.284000000000006 335.919 55.666000000000004 339.537 51.2 339.537 L 24.253 339.537 C 10.88 339.537 0 328.657 0 315.284 L 0 304.505 C 0 291.133 10.88 280.252 24.253 280.252 L 67.06 280.252 C 66.309 272.02 69.05 263.802 74.601 257.668 C 80.209 251.47 88.22 247.91500000000002 96.57900000000001 247.91500000000002 L 266.779 247.91500000000002 C 271.245 247.91500000000002 274.863 251.53300000000002 274.863 255.99900000000002 C 274.863 260.46500000000003 271.245 264.083 266.779 264.083 L 96.57900000000001 264.083 C 92.724 264.083 89.176 265.658 86.58900000000001 268.51500000000004 C 84.00200000000001 271.374 82.78800000000001 275.06100000000004 83.17200000000001 278.89700000000005 L 94.59400000000001 393.12100000000004 C 98.605 433.23900000000003 132.03500000000003 463.492 172.353 463.492 L 339.64300000000003 463.492 C 379.96200000000005 463.492 413.391 433.23900000000003 417.403 393.12100000000004 L 427.95500000000004 287.60200000000003 C 427.96000000000004 287.547 427.96600000000007 287.49300000000005 427.97200000000004 287.439 L 428.826 278.89700000000005 C 429.21000000000004 275.06100000000004 427.99600000000004 271.374 425.40900000000005 268.51500000000004 C 422.82300000000004 265.658 419.27500000000003 264.083 415.41900000000004 264.083 L 382.65100000000007 264.083 L 382.65100000000007 342.23 C 382.65100000000007 350.34700000000004 379.43500000000006 357.923 373.59200000000004 363.56 C 367.75200000000007 369.196 360.07500000000005 372.125 351.93500000000006 371.852 C 335.9150000000001 371.28299999999996 323.36600000000004 358.04299999999995 323.36600000000004 341.71299999999997 L 323.36600000000004 339.41299999999995 C 321.52000000000004 339.58299999999997 319.64400000000006 339.57699999999994 317.76400000000007 339.39399999999995 C 302.5210000000001 337.90999999999997 291.02900000000005 325.01599999999996 291.02900000000005 309.40299999999996 L 291.02900000000005 256 C 291.02900000000005 245.599 299.4920000000001 237.137 309.89200000000005 237.137 L 363.78700000000003 237.137 C 371.29800000000006 237.137 377.79600000000005 241.549 380.83000000000004 247.916 L 415.4200000000001 247.916 C 423.77900000000005 247.916 431.7900000000001 251.471 437.3980000000001 257.669 C 442.94900000000007 263.80199999999996 445.69000000000005 272.02099999999996 444.9390000000001 280.253 L 487.74500000000006 280.253 C 501.12 280.253 512 291.133 512 304.505 z M 366.484 256 C 366.484 254.514 365.27599999999995 253.305 363.789 253.305 L 309.894 253.305 C 308.408 253.305 307.199 254.513 307.199 256 L 307.199 309.404 C 307.199 316.53499999999997 312.528 322.641 319.331 323.303 C 322.15500000000003 323.576 324.945 322.971 327.40000000000003 321.549 C 328.653 320.82399999999996 330.05300000000005 320.46 331.45200000000006 320.46 C 332.84600000000006 320.46 334.23900000000003 320.82 335.49000000000007 321.53999999999996 C 337.99300000000005 322.984 339.53600000000006 325.65299999999996 339.53600000000006 328.544 L 339.53600000000006 341.714 C 339.53600000000006 349.169 345.3570000000001 355.441 352.5110000000001 355.696 C 356.2170000000001 355.817 359.71100000000007 354.49 362.36500000000007 351.92800000000005 C 365.0210000000001 349.36500000000007 366.48400000000004 345.92100000000005 366.48400000000004 342.23100000000005 L 366.48400000000004 256 z M 450.021 495.832 L 51.2 495.832 C 46.734 495.832 43.116 499.45 43.116 503.916 C 43.116 508.382 46.734 512 51.2 512 L 450.021 512 C 454.487 512 458.105 508.382 458.105 503.916 C 458.105 499.45 454.487 495.832 450.021 495.832 z M 56.542 184.629 C 55.727000000000004 175.30599999999998 58.59 166.225 64.605 159.057 C 70.62 151.88899999999998 79.066 147.492 88.388 146.676 L 193.083 137.516 L 191.908 124.094 C 190.48399999999998 107.812 202.57199999999997 93.40599999999999 218.85399999999998 91.981 L 283.281 86.345 C 299.534 84.929 313.969 97.009 315.394 113.28999999999999 L 316.568 126.713 L 421.264 117.553 C 440.50600000000003 115.866 457.531 130.156 459.216 149.398 C 460.90000000000003 168.642 446.613 185.665 427.371 187.351 L 94.494 216.474 C 93.461 216.565 92.43299999999999 216.60899999999998 91.414 216.60899999999998 C 73.466 216.609 58.137 202.839 56.542 184.629 z M 72.649 183.219 C 73.088 188.238 75.456 192.786 79.316 196.025 C 83.176 199.263 88.07000000000001 200.804 93.084 200.365 L 425.961 171.24200000000002 C 436.322 170.335 444.015 161.16700000000003 443.108 150.806 C 442.201 140.44500000000002 433.049 132.762 422.672 133.65900000000002 L 256.70300000000003 148.18 C 252.25800000000004 148.57 248.33400000000003 145.279 247.94500000000002 140.83100000000002 C 247.55700000000002 136.38400000000001 250.84600000000003 132.46200000000002 255.294 132.073 L 300.46000000000004 128.121 L 299.285 114.69800000000001 C 298.636 107.296 292.09200000000004 101.807 284.68800000000005 102.45100000000001 L 220.26100000000002 108.087 C 216.67600000000002 108.401 213.42700000000002 110.09100000000001 211.11400000000003 112.848 C 208.80100000000004 115.605 207.70000000000005 119.098 208.01400000000004 122.684 L 209.18800000000005 136.106 L 222.95700000000005 134.90099999999998 C 227.39300000000006 134.52399999999997 231.32600000000005 137.80299999999997 231.71500000000006 142.24999999999997 C 232.10300000000007 146.69699999999997 228.81400000000005 150.61899999999997 224.36600000000007 151.00799999999998 L 202.60300000000007 152.91299999999998 C 202.58400000000006 152.914 202.56400000000008 152.91599999999997 202.54400000000007 152.91799999999998 C 202.52500000000006 152.91899999999998 202.50600000000006 152.92099999999996 202.48600000000008 152.92199999999997 L 89.79500000000007 162.78199999999998 C 84.77600000000007 163.22099999999998 80.22800000000007 165.58899999999997 76.98900000000008 169.44899999999998 C 73.75 173.31 72.21 178.2 72.649 183.219 z\" stroke-linecap=\"round\"/>\n            </g>\n        </g>\n    </g>\n    <g transform=\"matrix(0.13 0 0 0.13 321.18 768.64)\">\n        <g style=\"\" vector-effect=\"non-scaling-stroke\">\n            <g transform=\"matrix(1.56 0 0 1.56 -153.88 -57.31)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(178,178,178); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-157.66, -219.66)\" d=\"M 80.701 431.297 C 73.618 431.297 67.874 425.55400000000003 67.874 418.47 L 67.874 97.806 C 67.874 48.299 108.15299999999999 8.019999999999996 157.66 8.019999999999996 C 207.167 8.019999999999996 247.446 48.299 247.446 97.806 C 247.446 104.889 241.703 110.633 234.619 110.633 C 227.535 110.633 221.792 104.89 221.792 97.806 C 221.792 62.443 193.022 33.673 157.659 33.673 C 122.29599999999999 33.673 93.526 62.443 93.526 97.806 L 93.526 418.471 C 93.527 425.553 87.784 431.297 80.701 431.297 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 206.87 -57.31)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(178,178,178); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-388.54, -219.66)\" d=\"M 311.579 431.297 C 304.496 431.297 298.752 425.55400000000003 298.752 418.47 L 298.752 97.806 C 298.752 48.299 339.031 8.019999999999996 388.538 8.019999999999996 C 438.045 8.019999999999996 478.324 48.299 478.324 97.806 C 478.324 104.889 472.581 110.633 465.497 110.633 C 458.413 110.633 452.67 104.89 452.67 97.806 C 452.67 62.443 423.90000000000003 33.673 388.53700000000003 33.673 C 353.17400000000004 33.673 324.40400000000005 62.443 324.40400000000005 97.806 L 324.40400000000005 418.471 C 324.406 425.553 318.663 431.297 311.579 431.297 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -273.94 210.33)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(153,153,153); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-80.7, -390.68)\" d=\"M 67.874 350.062 L 67.874 418.47 C 67.874 425.55300000000005 73.61699999999999 431.297 80.701 431.297 C 87.785 431.297 93.52799999999999 425.55400000000003 93.52799999999999 418.47 L 93.52799999999999 350.062 L 67.874 350.062 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 86.81 210.33)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(153,153,153); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-311.58, -390.68)\" d=\"M 298.753 418.471 C 298.753 425.55400000000003 304.496 431.298 311.58 431.298 C 318.664 431.298 324.407 425.555 324.407 418.471 L 324.407 350.063 L 298.75399999999996 350.063 L 298.75399999999996 418.471 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 301.34 40.15)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(109,218,225); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-448.95, -281.75)\" d=\"M 475.57 315.561 C 456.953 318.765 393.923 294.90599999999995 393.923 294.90599999999995 C 393.923 294.90599999999995 445.349 251.34799999999996 463.966 248.14299999999994 C 482.583 244.93799999999993 500.272 257.43299999999994 503.476 276.0489999999999 C 506.681 294.667 494.187 312.357 475.57 315.561 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 347.36 26.7)\">\n                <circle style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(200,244,247); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" cx=\"0\" cy=\"0\" r=\"8.551\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 299.21 64.79)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(79,196,211); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-447.58, -297.5)\" d=\"M 491.563 298.459 C 475.625 301.202 427.144 284.112 413.519 279.137 C 402.303 287.811 393.925 294.906 393.925 294.906 C 393.925 294.906 456.95500000000004 318.764 475.572 315.56100000000004 C 487.446 313.51700000000005 496.82 305.57700000000006 501.228 295.26500000000004 C 498.256 296.77 495.015 297.864 491.563 298.459 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 240.27 -72.55)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(109,218,225); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-409.83, -209.65)\" d=\"M 441.473 204.424 C 434.197 221.856 380.265 262.271 380.265 262.271 C 380.265 262.271 371.067 195.508 378.34299999999996 178.07500000000002 C 385.61899999999997 160.64300000000003 405.65 152.40900000000002 423.08299999999997 159.685 C 440.515 166.959 448.749 186.99 441.473 204.424 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 240.47 -120.27)\">\n                <circle style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(200,244,247); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" cx=\"0\" cy=\"0\" r=\"8.551\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 240.27 -57.27)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(79,196,211); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-409.83, -219.41)\" d=\"M 380.263 232.968 C 380.263 232.968 377.26899999999995 211.22799999999998 376.049 189.319 C 373.69899999999996 214.619 380.263 262.269 380.263 262.269 C 380.263 262.269 434.19599999999997 221.856 441.471 204.423 C 445.365 195.093 444.813 185.022 440.79 176.55700000000002 C 431.371 194.67 380.263 232.968 380.263 232.968 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -0.62 273.72)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(79,196,211); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-256, -431.3)\" d=\"M 441.983 416.333 C 409.182 416.333 382.35 390.855 380.151 358.61300000000006 L 379.825 358.61300000000006 C 377.626 390.8550000000001 350.793 416.3330000000001 317.993 416.3330000000001 C 285.193 416.3330000000001 258.36 390.8550000000001 256.161 358.61300000000006 L 255.835 358.61300000000006 C 253.636 390.8550000000001 226.803 416.3330000000001 194.00300000000001 416.3330000000001 C 161.20300000000003 416.3330000000001 134.37 390.8550000000001 132.17100000000002 358.61300000000006 L 131.84500000000003 358.61300000000006 C 129.64600000000002 390.8550000000001 102.81300000000003 416.3330000000001 70.01300000000003 416.3330000000001 C 37.21300000000004 416.3330000000001 10.380000000000031 390.8550000000001 8.181000000000033 358.61300000000006 L 8.017 358.61300000000006 L 8.017 503.98100000000005 L 503.978 503.98100000000005 L 503.978 358.613 L 503.814 358.613 C 501.616 390.855 474.784 416.333 441.983 416.333 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -0.62 252.04)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(109,218,225); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-256, -417.4)\" d=\"M 503.814 358.613 C 501.615 390.855 474.78200000000004 416.33299999999997 441.982 416.33299999999997 C 409.182 416.33299999999997 382.34900000000005 390.85499999999996 380.15000000000003 358.61299999999994 L 379.824 358.61299999999994 C 377.625 390.85499999999996 350.79200000000003 416.33299999999997 317.992 416.33299999999997 C 285.192 416.33299999999997 258.35900000000004 390.85499999999996 256.16 358.61299999999994 L 255.83400000000003 358.61299999999994 C 253.63500000000002 390.85499999999996 226.80200000000002 416.33299999999997 194.00200000000004 416.33299999999997 C 161.20200000000006 416.33299999999997 134.36900000000003 390.85499999999996 132.17000000000004 358.61299999999994 L 131.84400000000005 358.61299999999994 C 129.64500000000004 390.85499999999996 102.81200000000005 416.33299999999997 70.01200000000006 416.33299999999997 C 37.21200000000006 416.33299999999997 10.379000000000055 390.85499999999996 8.180000000000057 358.61299999999994 L 8.017 358.61299999999994 L 8.017 418.4699999999999 L 8.18 418.4699999999999 C 10.379 450.71199999999993 37.212 476.18999999999994 70.012 476.18999999999994 C 102.812 476.18999999999994 129.645 450.71199999999993 131.844 418.4699999999999 L 132.17 418.4699999999999 C 134.369 450.71199999999993 161.202 476.18999999999994 194.00199999999998 476.18999999999994 C 226.80199999999996 476.18999999999994 253.635 450.71199999999993 255.83399999999997 418.4699999999999 L 256.15999999999997 418.4699999999999 C 258.359 450.71199999999993 285.19199999999995 476.18999999999994 317.99199999999996 476.18999999999994 C 350.792 476.18999999999994 377.62499999999994 450.71199999999993 379.82399999999996 418.4699999999999 L 380.15 418.4699999999999 C 382.349 450.71199999999993 409.18199999999996 476.18999999999994 441.98199999999997 476.18999999999994 C 474.782 476.18999999999994 501.61499999999995 450.71199999999993 503.81399999999996 418.4699999999999 L 503.97799999999995 418.4699999999999 L 503.97799999999995 358.61299999999994 L 503.814 358.61299999999994 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g class=\"anim-sizzle\" index=\"0\">\n                <g transform=\"matrix(1.56 0 0 1.56 301.38 40.1)\">\n                    <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-448.99, -281.73)\" d=\"M 462.607 240.243 C 442.838 243.646 397.60800000000006 281.28 388.74300000000005 288.78999999999996 C 384.16200000000003 292.67099999999994 385.482 300.28299999999996 391.08600000000007 302.40399999999994 C 401.12200000000007 306.2029999999999 448.96600000000007 323.84399999999994 471.8020000000001 323.84399999999994 C 473.69500000000005 323.84399999999994 475.41800000000006 323.7219999999999 476.9320000000001 323.46199999999993 L 476.9310000000001 323.46199999999993 C 488.0450000000001 321.54999999999995 497.7510000000001 315.42299999999994 504.2560000000001 306.21099999999996 C 510.76200000000006 296.99899999999997 513.291 285.80499999999995 511.3790000000001 274.691 C 509.46600000000007 263.578 503.3400000000001 253.87199999999999 494.12700000000007 247.36699999999996 C 484.915 240.859 473.722 238.333 462.607 240.243 z M 484.877 260.462 C 496.53000000000003 268.693 499.399 285.293 491.159 296.96 C 487.12399999999997 302.674 481.105 306.47299999999996 474.212 307.65999999999997 C 474.211 307.65999999999997 474.211 307.65999999999997 474.211 307.65999999999997 C 464.23 309.38599999999997 433.497 300.373 409.88 292.159 C 429.387 276.52299999999997 455.336 257.763 465.327 256.045 C 472.216 254.857 479.162 256.427 484.877 260.462 z\" stroke-linecap=\"round\" id=\"pool_water2\"/>\n                </g>\n                <g transform=\"matrix(1.56 0 0 1.56 240.19 -72.53)\">\n                    <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-409.79, -209.68)\" d=\"M 448.87 207.511 C 455.809 190.887 451.189 171.08499999999998 437.548 159.305 C 423.846 147.47400000000002 403.616 145.775 388.103 155.083 C 380.426 159.689 374.39 166.728 370.944 174.986 C 363.21700000000004 193.498 370.737 251.85399999999998 372.322 263.364 C 373.138 269.291 380.265 272.28799999999995 385.071 268.686 C 394.369 261.718 441.144 226.024 448.87 207.511 z M 386.5 247.329 C 383.759 222.479 381.835 190.518 385.74 181.162 C 389.821 171.388 399.689 164.888 410.302 165.05100000000002 C 420.96700000000004 165.21300000000002 430.654 172.05900000000003 434.413 182.01500000000001 C 436.762 188.23800000000003 436.636 195.199 434.074 201.336 C 430.172 210.684 406.096 231.797 386.5 247.329 z\" stroke-linecap=\"round\" id=\"pool_water1\"/>\n                </g>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -0.64 -0.64)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-256, -256)\" d=\"M 503.978 350.597 L 503.81600000000003 350.597 C 499.6 350.597 496.105 353.86199999999997 495.819 358.067 C 493.896 386.244 470.25 408.31600000000003 441.985 408.31600000000003 C 413.719 408.31600000000003 390.074 386.245 388.151 358.067 C 387.863 353.861 384.369 350.597 380.154 350.597 L 379.828 350.597 C 375.61199999999997 350.597 372.11699999999996 353.86199999999997 371.83099999999996 358.067 C 370.24799999999993 381.274 353.92499999999995 400.325 332.42699999999996 406.33 L 332.42699999999996 213.244 C 332.42699999999996 208.816 328.83899999999994 205.227 324.40999999999997 205.227 C 319.98199999999997 205.227 316.393 208.815 316.393 213.244 L 316.393 408.275 C 313.109 408.178 309.89399999999995 407.784 306.77299999999997 407.11699999999996 L 306.77299999999997 97.805 C 306.77299999999997 52.71600000000001 343.45399999999995 16.03500000000001 388.54299999999995 16.03500000000001 C 433.63199999999995 16.03500000000001 470.30999999999995 52.71700000000001 470.30999999999995 97.805 C 470.30999999999995 100.45700000000001 468.15199999999993 102.61500000000001 465.49999999999994 102.61500000000001 C 462.84799999999996 102.61500000000001 460.68999999999994 100.45700000000001 460.68999999999994 97.805 C 460.68999999999994 58.02100000000001 428.32399999999996 25.655 388.53999999999996 25.655 C 348.756 25.655 316.39 58.021 316.39 97.805 L 316.39 170.489 C 316.39 174.917 319.978 178.506 324.407 178.506 C 328.83599999999996 178.506 332.424 174.918 332.424 170.489 L 332.424 97.805 C 332.424 66.863 357.59799999999996 41.68900000000001 388.53999999999996 41.68900000000001 C 419.48199999999997 41.68900000000001 444.65599999999995 66.863 444.65599999999995 97.805 C 444.65599999999995 109.298 454.00699999999995 118.64800000000001 465.49899999999997 118.64800000000001 C 476.991 118.64800000000001 486.342 109.29700000000001 486.342 97.805 C 486.342 43.87700000000001 442.46799999999996 0.0020000000000095497 388.539 0.0020000000000095497 C 334.61 0.0020000000000095497 290.736 43.87600000000001 290.736 97.805 L 290.736 145.37 L 101.544 145.37 L 101.544 97.805 C 101.544 66.863 126.71799999999999 41.68900000000001 157.66 41.68900000000001 C 188.602 41.68900000000001 213.776 66.863 213.776 97.805 C 213.776 109.298 223.127 118.64800000000001 234.619 118.64800000000001 C 246.111 118.64800000000001 255.462 109.29700000000001 255.462 97.805 C 255.462 43.87700000000001 211.588 0.0020000000000095497 157.659 0.0020000000000095497 C 103.72999999999999 0.0020000000000095497 59.857 43.877 59.857 97.805 L 59.857 332.959 C 59.857 337.387 63.445 340.976 67.874 340.976 C 72.303 340.976 75.89099999999999 337.388 75.89099999999999 332.959 L 75.89099999999999 97.805 C 75.89099999999999 52.71600000000001 112.57199999999999 16.036 157.66 16.036 C 202.748 16.036 239.43 52.718 239.43 97.805 C 239.43 100.45700000000001 237.27200000000002 102.61500000000001 234.62 102.61500000000001 C 231.968 102.61500000000001 229.81 100.45700000000001 229.81 97.805 C 229.81 58.02100000000001 197.44400000000002 25.655 157.66 25.655 C 117.87599999999998 25.655 85.50999999999999 58.022 85.50999999999999 97.805 L 85.50999999999999 406.028 C 82.407 406.964 79.19 407.62100000000004 75.88999999999999 407.983 L 75.88999999999999 375.71500000000003 C 75.88999999999999 371.28700000000003 72.30199999999999 367.69800000000004 67.87299999999999 367.69800000000004 C 63.44399999999999 367.69800000000004 59.855999999999995 371.28600000000006 59.855999999999995 375.71500000000003 L 59.855999999999995 407.346 C 36.273999999999994 402.809 17.862999999999992 382.789 16.175999999999995 358.067 C 15.887999999999995 353.861 12.393999999999995 350.597 8.178999999999995 350.597 L 8.017 350.597 C 3.5889999999999995 350.597 0 354.185 0 358.614 L 0 503.98199999999997 C 0 508.40999999999997 3.588 511.99899999999997 8.017 511.99899999999997 C 12.445999999999998 511.99899999999997 16.034 508.41099999999994 16.034 503.98199999999997 L 16.034 398.825 C 28.939 414.435 48.438 424.34999999999997 70.013 424.34999999999997 C 96.71000000000001 424.34999999999997 120.23 409.16799999999995 132.008 386.799 C 143.786 409.167 167.306 424.34999999999997 194.00300000000001 424.34999999999997 C 220.70000000000002 424.34999999999997 244.22000000000003 409.16799999999995 255.99800000000002 386.799 C 267.776 409.167 291.29600000000005 424.34999999999997 317.993 424.34999999999997 C 344.69 424.34999999999997 368.21 409.16799999999995 379.988 386.799 C 391.766 409.167 415.286 424.34999999999997 441.983 424.34999999999997 C 463.557 424.34999999999997 483.057 414.436 495.962 398.825 L 495.962 503.98199999999997 C 495.962 508.40999999999997 499.55 511.99899999999997 503.979 511.99899999999997 C 508.40799999999996 511.99899999999997 511.996 508.41099999999994 511.996 503.98199999999997 L 511.996 358.613 C 511.995 354.185 508.406 350.597 503.978 350.597 z M 101.544 238.363 L 290.736 238.363 L 290.736 299.289 L 101.544 299.289 L 101.544 238.363 z M 290.736 161.403 L 290.736 222.329 L 101.544 222.329 L 101.544 161.40300000000002 L 290.736 161.40300000000002 z M 264.158 358.067 C 263.87 353.861 260.37600000000003 350.597 256.161 350.597 L 255.835 350.597 C 251.619 350.597 248.124 353.86199999999997 247.83800000000002 358.067 C 245.91500000000002 386.244 222.26900000000003 408.31600000000003 194.00400000000002 408.31600000000003 C 165.739 408.31600000000003 142.09300000000002 386.245 140.17000000000002 358.067 C 139.882 353.861 136.388 350.597 132.173 350.597 L 131.847 350.597 C 127.63100000000001 350.597 124.13600000000001 353.86199999999997 123.85000000000001 358.067 C 122.724 374.569 114.14000000000001 388.969 101.548 398.075 L 101.548 315.322 L 290.74 315.322 L 290.74 400.872 C 275.835 392.1 265.408 376.376 264.158 358.067 z\" stroke-linecap=\"round\"/>\n            </g>\n        </g>\n    </g>\n    <g transform=\"matrix(0.14 0 0 0.14 688.03 761.32)\">\n        <g style=\"\" vector-effect=\"non-scaling-stroke\">\n            <g transform=\"matrix(1.56 0 0 1.56 -0.03 -266.89)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(67,74,84); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-255.99, -85.33)\" d=\"M 255.988 170.657 C 250.097 170.657 245.324 165.88400000000001 245.324 159.99300000000002 L 245.324 10.663 C 245.324 4.772 250.097 0 255.988 0 C 261.879 0 266.652 4.772 266.652 10.663 L 266.652 159.994 C 266.652 165.884 261.879 170.657 255.988 170.657 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -0.03 333.22)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(246,187,66); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-255.99, -469.31)\" d=\"M 255.988 511.98 C 250.097 511.98 245.324 507.199 245.324 501.324 L 245.324 437.326 C 245.324 431.42 250.097 426.639 255.988 426.639 C 261.879 426.639 266.652 431.419 266.652 437.326 L 266.652 501.324 C 266.652 507.199 261.879 511.98 255.988 511.98 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -125.07 299.74)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(246,187,66); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-175.99, -447.88)\" d=\"M 159.984 486.262 C 158.172 486.262 156.336 485.793 154.656 484.824 C 149.554 481.886 147.81300000000002 475.355 150.758 470.262 L 182.757 414.827 C 185.702 409.733 192.226 407.983 197.327 410.921 C 202.428 413.87399999999997 204.178 420.39 201.225 425.498 L 169.226 480.918 C 167.257 484.356 163.672 486.262 159.984 486.262 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -216.61 208.27)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(246,187,66); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-117.43, -389.32)\" d=\"M 89.729 415.984 C 86.041 415.984 82.456 414.078 80.479 410.656 C 77.534 405.547 79.284 399.031 84.385 396.07800000000003 L 139.805 364.079 C 144.907 361.141 151.43 362.891 154.375 367.985 C 157.32 373.079 155.578 379.61 150.477 382.547 L 95.05 414.546 C 93.369 415.515 91.533 415.984 89.729 415.984 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 216.4 208.27)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(246,187,66); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-394.55, -389.32)\" d=\"M 422.248 415.984 C 420.436 415.984 418.60699999999997 415.515 416.92 414.546 L 361.5 382.54699999999997 C 356.391 379.609 354.641 373.078 357.594 367.98499999999996 C 360.54699999999997 362.89199999999994 367.062 361.14099999999996 372.171 364.07899999999995 L 427.592 396.078 C 432.699 399.03099999999995 434.449 405.54699999999997 431.496 410.65599999999995 C 429.511 414.078 425.935 415.984 422.248 415.984 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 124.93 299.74)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(246,187,66); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-335.98, -447.88)\" d=\"M 351.984 486.262 C 348.296 486.262 344.719 484.356 342.73499999999996 480.918 L 310.73599999999993 425.498 C 307.79799999999994 420.39 309.54799999999994 413.87399999999997 314.6409999999999 410.921 C 319.7499999999999 407.983 326.2659999999999 409.733 329.2189999999999 414.827 L 361.2179999999999 470.262 C 364.1699999999999 475.356 362.4199999999999 481.887 357.3119999999999 484.824 C 355.64 485.794 353.797 486.262 351.984 486.262 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -0.13 -91.19)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(204,209,217); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-255.99, -197.71)\" d=\"M 298.642 149.33 L 213.326 149.33 C 207.435 149.33 202.654 154.103 202.654 159.994 L 202.654 235.42000000000002 C 202.654 238.24800000000002 203.779 240.967 205.779 242.967 C 207.779 244.967 210.498 246.092 213.326 246.092 L 298.658 246.07600000000002 C 304.54900000000004 246.07600000000002 309.33000000000004 241.30300000000003 309.33000000000004 235.41200000000003 L 309.33000000000004 159.99400000000003 C 309.33 154.103 304.549 149.33 298.642 149.33 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -0.25 92.03)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(246,187,66); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-255.99, -315.03)\" d=\"M 339.126 261.325 C 330.688 246.709 318.532 234.553 303.986 226.171 C 302.361 225.233 300.517 224.74099999999999 298.642 224.74099999999999 L 213.31799999999998 224.75699999999998 C 211.451 224.75699999999998 209.61499999999998 225.24899999999997 207.98999999999998 226.18699999999998 C 162.14799999999997 252.65499999999997 146.38299999999998 311.488 172.84999999999997 357.331 C 189.95099999999996 386.92400000000004 221.83299999999997 405.329 256.066 405.329 C 256.066 405.329 256.066 405.329 256.07399999999996 405.329 C 272.83199999999994 405.329 289.393 400.891 303.98599999999993 392.455 C 349.828 365.985 365.593 307.176 339.126 261.325 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 66.56 92.03)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 0.2;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-298.68, -315.03)\" d=\"M 339.126 261.325 C 330.688 246.709 318.532 234.553 303.986 226.171 C 302.361 225.233 300.517 224.74099999999999 298.642 224.74099999999999 L 277.425 224.749 C 279.253 224.765 281.04900000000004 225.249 282.64300000000003 226.171 C 297.20500000000004 234.553 309.36100000000005 246.709 317.797 261.325 C 344.266 307.176 328.485 365.985 282.64300000000003 392.45399999999995 C 271.16700000000003 399.078 258.449 403.24999999999994 245.38600000000002 404.71899999999994 C 248.90900000000002 405.10999999999996 252.47200000000004 405.3279999999999 256.06600000000003 405.3279999999999 C 256.06600000000003 405.3279999999999 256.06600000000003 405.3279999999999 256.074 405.3279999999999 C 272.832 405.3279999999999 289.39300000000003 400.88999999999993 303.986 392.4539999999999 C 349.828 365.985 365.593 307.176 339.126 261.325 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -50.06 -100.02)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(170,178,188); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-223.99, -191.99)\" d=\"M 202.654 202.656 L 234.653 202.656 C 240.54299999999998 202.656 245.32399999999998 197.883 245.32399999999998 191.99200000000002 C 245.32399999999998 186.10200000000003 240.54299999999998 181.32800000000003 234.653 181.32800000000003 L 202.654 181.32800000000003 L 202.654 202.656 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 49.95 -100.02)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(170,178,188); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-287.99, -191.99)\" d=\"M 309.33 181.328 L 277.332 181.328 C 271.43399999999997 181.328 266.652 186.101 266.652 191.992 C 266.652 197.88299999999998 271.433 202.65599999999998 277.332 202.65599999999998 L 309.33 202.65599999999998 L 309.33 181.328 z\" stroke-linecap=\"round\"/>\n            </g>\n            <g transform=\"matrix(1.56 0 0 1.56 -0.13 33.78)\">\n                <path style=\"stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,206,84); fill-rule: nonzero; opacity: 1;\" vector-effect=\"non-scaling-stroke\" transform=\" translate(-255.99, -277.7)\" d=\"M 277.332 266.653 L 266.652 266.653 L 266.652 224.74900000000002 L 245.32399999999998 224.74900000000002 L 245.32399999999998 266.653 L 234.653 266.653 C 217.01299999999998 266.653 202.654 281.02000000000004 202.654 298.644 C 202.654 316.299 217.013 330.642 234.653 330.642 L 277.332 330.642 C 294.956 330.642 309.33 316.299 309.33 298.644 C 309.33 281.02 294.956 266.653 277.332 266.653 z M 223.99 298.644 C 223.99 292.77 228.77100000000002 287.98900000000003 234.65300000000002 287.98900000000003 L 245.324 287.98900000000003 L 245.324 309.33200000000005 L 234.65300000000002 309.33200000000005 C 228.77 309.332 223.99 304.535 223.99 298.644 z M 277.332 309.332 L 266.652 309.332 L 266.652 287.989 L 277.332 287.989 C 283.206 287.989 287.98699999999997 292.77 287.98699999999997 298.64399999999995 C 287.987 304.535 283.206 309.332 277.332 309.332 z\" stroke-linecap=\"round\"/>\n            </g>\n        </g>\n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 685.02 65.97)\" style=\"\" id=\"99b1970a-877e-401b-9f50-f13cc2e59902\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 684.94 127.84)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 97.1326 69.5619)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 97.0426 131.432)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 630.63 364.83)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 631.44 426.7)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 126.39 373.93)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 126.32 435.8)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 94.5226 196.872)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 105.1 873.588)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 105.02 981.5)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 333.32 878.228)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 328.77 936.688)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 519.49 874.808)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 519.41 982.72)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 684.21 869.618)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 688.6 977.53)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 114.21 859.17)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 337.06 860.22)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 528.6 860.39)\" style=\"\">\n        \n    </g>\n    <g transform=\"matrix(0.34 0 0 0.34 693.32 855.19)\" style=\"\">\n        \n    </g>\n<text style=\"fill:black;font-family:Verdana;font-size:40.00px;text-anchor:end;font-weight:bolder;text-decoration:underline\" x=\"574.88\" y=\"267.723\" id=\"pv_w\" xml:space=\"preserve\">10.0</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:24.00px;font-weight:bold\" x=\"573.998\" y=\"47.7903\" id=\"e1_texte\" xml:space=\"preserve\">PV Generation</text><text style=\"fill:black;font-family:Verdana;font-size:50.00px;text-anchor:end;font-weight:bolder\" x=\"690.029\" y=\"100.786\" id=\"pv_wh\" xml:space=\"preserve\">99</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:20px;font-weight:bold\" x=\"185.022\" y=\"234.471\" id=\"lbl_grid_w\" xml:space=\"preserve\">From Grid</text><text style=\"fill:black;font-family:Verdana;font-size:40.00px;text-anchor:end;font-weight:bolder;text-decoration:underline\" x=\"258.245\" y=\"270.191\" id=\"grid_w\" xml:space=\"preserve\">9.9</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:24.00px;font-weight:bold\" x=\"8.52607\" y=\"32.4\" id=\"e3_texte\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 12.9226 9.69192)\">To Grid</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:24.00px;font-weight:bold\" x=\"9.37868\" y=\"131.304\" id=\"e4_texte\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 12.9226 9.69192)\">From Grid</text><text style=\"fill:black;font-family:Verdana;font-size:50.00px;text-anchor:end;font-weight:bolder\" x=\"76.2785\" y=\"81.9846\" id=\"grid_e_wh\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 12.9226 9.69192)\">99</text><text style=\"fill:black;font-family:Verdana;font-size:50.00px;text-anchor:end;font-weight:bolder\" x=\"75.426\" y=\"183.267\" id=\"grid_i_wh\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 12.9226 9.69192)\">99</text>\n<g class=\"anim-fwd\" index=\"0\">\n    <polyline fill=\"none\" stroke-width=\"10\" stroke-miterlimit=\"10\" points=\"-176.329 374.915 -140.329 374.915 -104.329 374.915 -68.3286 374.915 -32.3286 374.915 3.67145 374.915 39.6715 374.915\" transform=\"matrix(-0.270887 0.662209 -1.93847 -0.792962 1156.98 589.703)\" id=\"arrow_pv_home\" style=\"stroke:#58D68D;\"/>\n<polyline fill=\"none\" stroke-width=\"10\" stroke-miterlimit=\"10\" points=\"-133.782 411.002 -97.7815 411.002 -61.7814 411.002 -25.781 411.002 10.2189 411.002 46.219 411.002 82.2191 411.002\" transform=\"matrix(0.276706 0.659799 -1.93141 0.809997 1131.39 -67.4733)\" id=\"arrow_grid\" style=\"stroke:#58D68D;\"/><polyline fill=\"none\" stroke-miterlimit=\"10\" points=\"440.253,426.821,476.253,426.821,512.253,426.821,548.253,426.821,584.254,426.821,620.254,426.821,656.254,426.821\" transform=\"matrix(-0.805927 0.624624 -1.82845 -2.35917 1437.67 1266.9)\" id=\"arrow_hws\" style=\"stroke:#58D68D;stroke-width:2.52px\"/><polyline fill=\"none\" stroke-miterlimit=\"10\" points=\"306.414,383.813,342.414,383.813,378.414,383.813,414.414,383.813,450.415,383.813,486.415,383.813,522.415,383.813\" transform=\"matrix(-0.121489 0.634577 -1.85758 -0.35563 1108.87 475.735)\" id=\"arrow_pool\" style=\"stroke:#58D68D;stroke-width:4px\"/><polyline fill=\"none\" stroke-miterlimit=\"10\" points=\"267.284,312.83,303.284,312.83,339.284,312.83,375.284,312.83,411.285,312.83,447.285,312.83,483.285,312.83\" transform=\"matrix(0.314178 0.604087 -1.76833 0.919691 893.056 85.2473)\" id=\"arrow_cooking\" style=\"stroke:#58D68D;stroke-width:4px\"/><polyline stroke-miterlimit=\"10\" points=\"328.412,247.645,364.412,247.645,400.412,247.645,436.412,247.645,472.413,247.645,508.413,247.645,544.412,247.645\" transform=\"matrix(0.891685 0.661392 -1.93608 2.61021 662.315 -334.709)\" id=\"arrow_other\" style=\"stroke: rgb(88, 214, 141); stroke-width: 2.52px;\"/><polyline fill=\"none\" stroke-width=\"10\" stroke-miterlimit=\"10\" points=\"-132.607,411.031,-96.6063,411.031,-60.6062,411.031,-24.6058,411.031,11.3941,411.031,47.3942,411.031,83.3943,411.031\" transform=\"matrix(-0.284371 -0.656532 1.92185 -0.832435 -466.224 575.227)\" id=\"arrow_grid_e\" style=\"stroke:#58D68D;\"/></g>\n\n<text style=\"fill:#87CEFA;font-family:Verdana;font-size:24.00px;font-weight:bold\" x=\"88.6291\" y=\"387.048\" id=\"e2_texte\" xml:space=\"preserve\">Consumption</text><text style=\"fill:black;font-family:Verdana;font-size:40.00px;text-anchor:end;font-weight:bolder;text-decoration:underline\" x=\"187.836\" y=\"435.467\" id=\"home_w\" xml:space=\"preserve\">10.0</text><text style=\"fill:black;font-family:Verdana;font-size:50.00px;text-anchor:end;font-weight:bolder\" x=\"189.452\" y=\"497.662\" id=\"home_wh\" xml:space=\"preserve\">100</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:24.00px;font-weight:bold\" x=\"504.753\" y=\"404.996\" id=\"e5_texte\" xml:space=\"preserve\">Cost</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:23.00px;font-weight:bold\" x=\"505.606\" y=\"439.954\" id=\"e6_texte\" xml:space=\"preserve\">Today</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:23.00px;font-weight:bold\" x=\"507.311\" y=\"485.143\" id=\"e7_texte\" xml:space=\"preserve\">Bill</text><text style=\"fill:black;font-family:Verdana;font-size:33.8px;text-anchor:start;font-weight:bolder\" x=\"589.161\" y=\"443.364\" id=\"home_cost\" xml:space=\"preserve\">$ 1.50</text><text style=\"fill:black;font-family:Verdana;font-size:33.8px;text-anchor:start;font-weight:bolder\" x=\"591.719\" y=\"488.553\" id=\"home_bill\" xml:space=\"preserve\">$ 100.00</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:20px;font-weight:bold\" x=\"55.4204\" y=\"853.475\" id=\"e8_texte\" xml:space=\"preserve\">Hot Water</text><text style=\"fill:black;font-family:Verdana;font-size:33.00px;text-anchor:end;font-weight:bolder;text-decoration:underline\" x=\"159.523\" y=\"706.825\" id=\"hws_w\" xml:space=\"preserve\">3.6</text><text style=\"fill:black;font-family:Verdana;font-size:33.00px;text-anchor:end;font-weight:bolder\" x=\"125.014\" y=\"938.783\" id=\"hws_wh\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 0 -46.0416)\">10.6</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:20px;font-weight:bold\" x=\"295.006\" y=\"853.475\" id=\"e9_texte\" xml:space=\"preserve\">Pool</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:20px;font-weight:bold\" x=\"468.94\" y=\"853.475\" id=\"e10_texte\" xml:space=\"preserve\">Cooking</text><text style=\"fill:#87CEFA;font-family:Verdana;font-size:20px;font-weight:bold\" x=\"659.929\" y=\"853.475\" id=\"e11_texte\" xml:space=\"preserve\">Other</text><text style=\"fill:black;font-family:Verdana;font-size:33.00px;text-anchor:end;font-weight:bolder;text-decoration:underline\" x=\"332.605\" y=\"705.972\" id=\"pool_w\" xml:space=\"preserve\">3.6</text><text style=\"fill:black;font-family:Verdana;font-size:33.00px;text-anchor:end;font-weight:bolder;text-decoration:underline\" x=\"525.477\" y=\"704.266\" id=\"cooking_w\" xml:space=\"preserve\">3.6</text><text style=\"fill:black;font-family:Verdana;font-size:33.00px;text-anchor:end;font-weight:bolder;text-decoration:underline\" x=\"706.275\" y=\"701.71\" id=\"other_w\" xml:space=\"preserve\">3.6</text><text style=\"fill:black;font-family:Verdana;font-size:33.00px;text-anchor:end;font-weight:bolder\" x=\"334.041\" y=\"939.591\" id=\"pool_wh\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 0 -46.0416)\">3.6</text><text style=\"fill:black;font-family:Verdana;font-size:33.00px;text-anchor:end;font-weight:bolder\" x=\"523.682\" y=\"939.591\" id=\"cooking_wh\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 0 -46.0416)\">3.6</text><text style=\"fill:black;font-family:Verdana;font-size:33.00px;text-anchor:end;font-weight:bold\" x=\"720.231\" y=\"939.591\" id=\"other_wh\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 0 -46.0416)\">99.9</text><text style=\"fill:black;font-family:Verdana;font-size:28.1px;text-anchor:end;font-weight:bolder\" x=\"371.194\" y=\"977.107\" id=\"pool_temp\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 0 -49.4521)\">3.6 C</text><text style=\"fill:black;font-family:Verdana;font-size:28.1px;text-anchor:end;font-weight:bolder\" x=\"279.12\" y=\"1011.21\" id=\"pool_runtime\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 0 -49.4521)\">6</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:bolder\" x=\"261.476\" y=\"268.575\" id=\"grid_w_sx\" xml:space=\"preserve\">kW</text><text style=\"fill:black;font-family:Verdana;font-size:25.00px;text-anchor:start;font-weight:bolder\" x=\"83.7911\" y=\"80.3902\" id=\"grid_e_wh_sx\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 12.9226 9.69192)\">kWh</text><text style=\"fill:black;font-family:Verdana;font-size:25.00px;text-anchor:start;font-weight:bolder\" x=\"85.4065\" y=\"182.155\" id=\"grid_i_wh_sx\" xml:space=\"preserve\" transform=\"matrix(1 0 0 1 12.9226 9.69192)\">kWh</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:bolder\" x=\"580.502\" y=\"265.345\" id=\"pv_w_sx\" xml:space=\"preserve\">kW</text><text style=\"fill:black;font-family:Verdana;font-size:25.00px;text-anchor:start;font-weight:bolder\" x=\"698.421\" y=\"100.582\" id=\"pv_wh_sx\" xml:space=\"preserve\">kWh</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:bolder\" x=\"198.478\" y=\"434.145\" id=\"home_w_sx\" xml:space=\"preserve\">kW</text><text style=\"fill:black;font-family:Verdana;font-size:25.00px;text-anchor:start;font-weight:bolder\" x=\"199.287\" y=\"494.72\" id=\"home_wh_sx\" xml:space=\"preserve\">kWh</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"712.151\" y=\"702.289\" id=\"other_w_sx\" xml:space=\"preserve\">kW</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"722.65\" y=\"892.896\" id=\"other_wh_sx\" xml:space=\"preserve\">kWh</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"164.557\" y=\"705.52\" id=\"hws_w_sx\" xml:space=\"preserve\">kW</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"338.204\" y=\"705.52\" id=\"pool_w_sx\" xml:space=\"preserve\">kW</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"532.851\" y=\"703.097\" id=\"cooking_w_sx\" xml:space=\"preserve\">kW</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"129.019\" y=\"892.088\" id=\"hws_wh_sx\" xml:space=\"preserve\">kWh</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"343.857\" y=\"891.28\" id=\"pool_wh_sx\" xml:space=\"preserve\">kWh</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"528.811\" y=\"892.895\" id=\"cooking_wh_sx\" xml:space=\"preserve\">kWh</text>\n<text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"283.282\" y=\"961.546\" id=\"pool_runtime_sx\" xml:space=\"preserve\">Hrs Runtime</text><text style=\"fill:midnightblue;font-family:Trebuchet MS;font-size:27.00px;font-weight:bold;text-anchor:end\" x=\"262.99\" y=\"531.219\" id=\"home_solar_pcnt\" xml:space=\"preserve\">15% from Solar</text><text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:bold\" x=\"49.8596\" y=\"925.977\" id=\"hws_runtime\" xml:space=\"preserve\">2 hr 59 minutes</text>\n<text style=\"fill:black;font-family:Verdana;font-size:20.00px;text-anchor:start;font-weight:normal\" x=\"46.1545\" y=\"957.841\" id=\"hws_runtime_sx\" xml:space=\"preserve\">Runtime</text></svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [
            {
                "id": "pv_sun1",
                "targetId": "pv_sun3",
                "classValue": "",
                "attributeName": "r",
                "transformType": "scale",
                "fromValue": "4.5",
                "toValue": "4",
                "trigger": "time",
                "duration": "1",
                "durationUnit": "s",
                "repeatCount": "0",
                "end": "restore",
                "delay": "5",
                "delayUnit": "s",
                "custom": ""
            }
        ],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}\n.anim-fwd {\n    stroke-dasharray: 15,20;\n    stroke-dashoffset: 100;\n    stroke-linecap: round;\n    animation: dash 15s linear infinite;\n}\n\n.anim-sizzle {\n    animation: sizzle .1s infinite alternate;\n}\n\n@keyframes dash {\n    from {\n        stroke-dashoffset: 1100;\n    }\n\n    to {\n        stroke-dashoffset: 0;\n    }\n}\n\n\n@keyframes sizzle {\n    0% {\n        transform: scale(1);\n    }\n   \n    100% {\n        transform: scale(1.05);\n    }\n}\n",
        "name": "",
        "x": 640,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "bb68119625d67c5a",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "pv_w",
        "func": "const mapNumRange = (num, inMin, inMax, outMin, outMax) =>\n  ((num - inMin) * (outMax - outMin)) / (inMax - inMin) + outMin;\n\nvar num = msg.payload;\nvar inMin = 0;\nvar inMax = 10100;\nvar outMin = 60;\nvar outMax = 20;\nvar stroke_dasharray = \"10,\" + mapNumRange(num,inMin,inMax,outMin,outMax).toFixed(0);\nvar stroke_width = mapNumRange(num,inMin,inMax,5,10).toFixed(0);\n\nvar visibility = \"hidden\";\nvar power_w = msg.payload;\nif (power_w >= 1){\n    visibility = \"visible\"\n}\n\npower_w = power_w / 1000;\n\nmsg.payload = [\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_pv_home\",\n        \"style\": {\n            \"visibility\": visibility\n        }\n    },\n    {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_pv_home\",\n        \"attributeName\": \"stroke\",\n        \"attributeValue\": \"#58D68D\"\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_pv_home\",\n        \"attributeName\": \"stroke-dasharray\",\n        \"attributeValue\": stroke_dasharray\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_pv_home\",\n        \"attributeName\": \"stroke-width\",\n        \"attributeValue\": stroke_width\n   },\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#pv_w\",\n      \"textContent\": (Math.round(power_w * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pv_w\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#58D68D\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pv_w\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pv_w_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#58D68D\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pv_w_sx\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   }\n]\n\n\nmsg.topic = \"\";\nreturn msg;\n ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "45a1260bd82384d1",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "powerGen_realtime",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "bb68119625d67c5a",
                "a6f33b68c958e866"
            ]
        ]
    },
    {
        "id": "2c3493ab77e1b8aa",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "pv_wh",
        "func": "msg.payload = [\n   {\n   \"command\": \"update_text\",\n   \"selector\": \"#pv_wh\",\n   \"textContent\": (msg.payload.toFixed(0).toLocaleString())\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pv_wh\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#58D68D\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pv_wh_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#58D68D\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "f4f412d101edc9b4",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "pv_day",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "2c3493ab77e1b8aa"
            ]
        ]
    },
    {
        "id": "b5be6eb8bff43f41",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "powerExcess",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "20723f16ae2e9f34",
                "46883c7e4ecf4b2a"
            ]
        ]
    },
    {
        "id": "0b81e94e0a738d75",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "home_w",
        "func": "var power_w = msg.payload;\n\npower_w = power_w / 1000;\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#home_w\",\n      \"textContent\": (Math.round(power_w * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_w\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#F5B041\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_w_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#F5B041\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 840,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "57ea7a7b8d693d5e",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "powerCon_realtime",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 840,
        "wires": [
            [
                "0b81e94e0a738d75"
            ]
        ]
    },
    {
        "id": "97ed1a472bea0471",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "home_wh",
        "func": "var today_wh = msg.payload / 1000;\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#home_wh\",\n      \"textContent\": (today_wh.toFixed(0).toLocaleString())\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_wh\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#F5B041\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_wh_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#F5B041\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 880,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "dd4e6928f539c848",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "today_wh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 880,
        "wires": [
            [
                "97ed1a472bea0471"
            ]
        ]
    },
    {
        "id": "20723f16ae2e9f34",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "grid arrow",
        "func": "const mapNumRange = (num, inMin, inMax, outMin, outMax) =>\n  ((num - inMin) * (outMax - outMin)) / (inMax - inMin) + outMin;\n\nvar num = Math.abs(msg.payload);\nvar inMin = 0;\nvar inMax = 10100;\nvar outMin = 60;\nvar outMax = 20;\nvar stroke_dasharray = \"10,\" + mapNumRange(num, inMin, inMax, outMin, outMax).toFixed(0);\nvar stroke_width = mapNumRange(num, inMin, inMax, 5, 10).toFixed(0);\n\nvar excess = msg.payload;\n\nif (excess < 0){\n    \n    msg.payload = [\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid\",\n            \"style\": {\n                \"visibility\": \"visible\"\n            }\n        },\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid\",\n            \"attributeName\": \"stroke\",\n            \"attributeValue\": \"#F5B041\"\n        },\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid\",\n            \"attributeName\": \"stroke-dasharray\",\n            \"attributeValue\": stroke_dasharray\n        },\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid\",\n            \"attributeName\": \"stroke-width\",\n            \"attributeValue\": stroke_width\n        },\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid_e\",\n            \"style\": {\n                \"visibility\": \"hidden\"\n            }\n        }\n    ]\n}\nelse{\n    msg.payload = [\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid\",\n            \"style\": {\n                \"visibility\": \"hidden\"\n            }\n        },\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid_e\",\n            \"attributeName\": \"stroke\",\n            \"attributeValue\": \"#BB8FCE\"\n        },\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid_e\",\n            \"attributeName\": \"stroke-width\",\n            \"attributeValue\": stroke_width\n        },\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid_e\",\n            \"style\": {\n                \"visibility\": \"visible\"\n            }\n        },\n        {\n            \"command\": \"update_style\",\n            \"selector\": \"#arrow_grid_e\",\n            \"attributeName\": \"stroke-dasharray\",\n            \"attributeValue\": stroke_dasharray\n        }\n    ]\n\n}\nmsg.topic = \"\";\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "46883c7e4ecf4b2a",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "grid_w",
        "func": "var grid_w = msg.payload;\nvar color = \"#BB8FCE\";\nvar lbl_grid_w = \"To Grid\"\nif (grid_w <0 ){\n   color = \"#F5B041\";\n   lbl_grid_w = \"From Grid\";\n}\n\ngrid_w = Math.abs(grid_w / 1000);\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#grid_w\",\n      \"textContent\": (Math.round(grid_w * 10)/10 )\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#grid_w\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color\n   },\n   {\n   \"command\": \"update_text\",\n   \"selector\": \"#lbl_grid_w\",\n   \"textContent\": lbl_grid_w\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#grid_w_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color\n   }  \n]\n\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 500,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "e968eb468e198b9f",
        "type": "comment",
        "z": "0f89ec8508c3d166",
        "name": "PV",
        "info": "",
        "x": 90,
        "y": 220,
        "wires": []
    },
    {
        "id": "0fe76b97a012ec57",
        "type": "comment",
        "z": "0f89ec8508c3d166",
        "name": "GRID",
        "info": "",
        "x": 90,
        "y": 480,
        "wires": []
    },
    {
        "id": "63d8d35c76d978ec",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "grid_export",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 640,
        "wires": [
            [
                "92c128ae758285bb"
            ]
        ]
    },
    {
        "id": "3c6d1f42701a2475",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "grid_import",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "3bc526db30ef905e"
            ]
        ]
    },
    {
        "id": "92c128ae758285bb",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "grid_e_wh",
        "func": "msg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#grid_e_wh\",\n      \"textContent\": (msg.payload.toFixed(0).toLocaleString())\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#grid_e_wh\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#BB8FCE\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#grid_e_wh_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#BB8FCE\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 640,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "3bc526db30ef905e",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "grid_i_wh",
        "func": "msg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#grid_i_wh\",\n      \"textContent\": (msg.payload.toFixed(0).toLocaleString())\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#grid_i_wh\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#F5B041\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#grid_i_wh_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#F5B041\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 680,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "318d1d2706c1e5a8",
        "type": "comment",
        "z": "0f89ec8508c3d166",
        "name": "HOME",
        "info": "",
        "x": 90,
        "y": 780,
        "wires": []
    },
    {
        "id": "074eb12f4b5e5c48",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "earn_day",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 940,
        "wires": [
            [
                "5f2e5702026a247f"
            ]
        ]
    },
    {
        "id": "5c7738b2c322aba4",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "earn_bill",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 980,
        "wires": [
            [
                "ff4d06ac0c0a955d"
            ]
        ]
    },
    {
        "id": "5f2e5702026a247f",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "home_cost",
        "func": "var home_cost = msg.payload;\n\nvar color = \"#F5B041\";\n//var lbl_grid_w = \"To Grid\"\n\nif (home_cost > 0 ){\n   color = \"#58D68D\";\n   home_cost = Math.abs(home_cost).toFixed(2) + \" cr\"\n   //lbl_grid_w = \"From Grid\";\n}else{\n   home_cost = Math.abs(home_cost)\n}\n\nmsg.payload = [\n   {\n   \"command\": \"update_text\",\n   \"selector\": \"#home_cost\",\n   \"textContent\": (\"$\" + home_cost)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_cost\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color\n   } \n]\n\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 940,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "ff4d06ac0c0a955d",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "home_bill",
        "func": "var home_cost = msg.payload;\n\nvar color = \"#F5B041\";\n//var lbl_grid_w = \"To Grid\"\n\nif (home_cost > 0 ){\n   color = \"#58D68D\";\n   home_cost = Math.abs(home_cost) + \" cr\"\n   //lbl_grid_w = \"From Grid\";\n}else{\n   home_cost = Math.abs(home_cost)\n}\n\nmsg.payload = [\n   {\n   \"command\": \"update_text\",\n   \"selector\": \"#home_bill\",\n   \"textContent\": (\"$\" + home_cost.toFixed(2))\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_bill\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color\n   } \n]\n\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 980,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "419b7998b09b3c98",
        "type": "comment",
        "z": "0f89ec8508c3d166",
        "name": "HWS",
        "info": "",
        "x": 90,
        "y": 1160,
        "wires": []
    },
    {
        "id": "df2e55b8c9e9f239",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "hws_w",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1220,
        "wires": [
            [
                "596155a402146c88"
            ]
        ]
    },
    {
        "id": "cafcb1a36166c6f0",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "hws_wh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1320,
        "wires": [
            [
                "98123dcd727ae5f7"
            ]
        ]
    },
    {
        "id": "6d61c3d0b0872553",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "hws_w",
        "func": "const mapNumRange = (num, inMin, inMax, outMin, outMax) =>\n  ((num - inMin) * (outMax - outMin)) / (inMax - inMin) + outMin;\n\nvar num = msg.payload;\nvar inMin = 0;\nvar inMax = 10100;\nvar outMin = 60;\nvar outMax = 20;\n\n\nvar hws_w = global.get(\"o_hws_w\");\nvar heater_w = global.get(\"o_heater_w\");\nvar tot_hws_w = hws_w + heater_w;\n\nvar visibility = \"hidden\";\nif (tot_hws_w > 0){\n    visibility = \"visible\"\n}\n\ntot_hws_w = tot_hws_w / 1000;\n\nvar stroke_dasharray = \"8,\" + mapNumRange(tot_hws_w * 1000,inMin,inMax,outMin,outMax).toFixed(0);\nvar stroke_width = mapNumRange(tot_hws_w * 1000,inMin,inMax,2.5,5).toFixed(0);\n\nmsg.payload = [\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#arrow_hws\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_hws\",\n        \"attributeName\": \"stroke-dasharray\",\n        \"attributeValue\": stroke_dasharray\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_hws\",\n        \"attributeName\": \"stroke-width\",\n        \"attributeValue\": stroke_width\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#arrow_hws\",\n      \"attributeName\": \"stroke\",\n      \"attributeValue\": \"#58D68D\"\n   },\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#hws_w\",\n      \"textContent\": (Math.round(tot_hws_w * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_w\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_w\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_w_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_w_sx\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_coil\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1220,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "e9e3b92a23a7b2f7",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "hws_wh",
        "func": "var hws_wh = global.get(\"o_hws_wh\");\nvar heater_wh = global.get(\"o_heater_wh\");\nvar tot_hws_wh = hws_wh + heater_wh;\n\ntot_hws_wh = tot_hws_wh / 1000;\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#hws_wh\",\n      \"textContent\": (Math.round(tot_hws_wh * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_wh\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_wh_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1320,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "c02b1eb265dc03fb",
        "type": "comment",
        "z": "0f89ec8508c3d166",
        "name": "Pool",
        "info": "",
        "x": 90,
        "y": 1520,
        "wires": []
    },
    {
        "id": "91d61865273e49e6",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "pool_w",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1560,
        "wires": [
            [
                "ff1e461c13cdf0b8"
            ]
        ]
    },
    {
        "id": "068f90f244d43b93",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "pool_wh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1600,
        "wires": [
            [
                "a1a37a0fd07e430c"
            ]
        ]
    },
    {
        "id": "ff1e461c13cdf0b8",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "pool_w",
        "func": "const mapNumRange = (num, inMin, inMax, outMin, outMax) =>\n  ((num - inMin) * (outMax - outMin)) / (inMax - inMin) + outMin;\n\nvar num = msg.payload;\nvar inMin = 0;\nvar inMax = 10100;\nvar outMin = 60;\nvar outMax = 20;\nvar stroke_dasharray = \"12,\" + mapNumRange(num,inMin,inMax,outMin,outMax).toFixed(0);\nvar stroke_width = mapNumRange(num, inMin, inMax, 4, 9).toFixed(0);\n\nvar visibility = \"hidden\";\nvar power_w = msg.payload;\nif (power_w > 10){\n    visibility = \"visible\"\n}\n\npower_w = power_w / 1000;\n\nmsg.payload = [\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#arrow_pool\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#arrow_pool\",\n      \"attributeName\": \"stroke\",\n      \"attributeValue\": \"#58D68D\"\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_pool\",\n        \"attributeName\": \"stroke-dasharray\",\n        \"attributeValue\": stroke_dasharray\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_pool\",\n        \"attributeName\": \"stroke-width\",\n        \"attributeValue\": stroke_width\n   },\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#pool_w\",\n      \"textContent\": (Math.round(power_w * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_w\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_w\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_w_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_w_sx\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#pool_water1\",\n        \"style\": {\n            \"visibility\": visibility\n        }\n    },\n    {\n        \"command\": \"update_style\",\n        \"selector\": \"#pool_water2\",\n        \"style\": {\n            \"visibility\": visibility\n        }\n    }\n]\n\nmsg.topic = \"\";\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1560,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "a1a37a0fd07e430c",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "pool_wh",
        "func": "var today_wh = msg.payload / 1000;\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#pool_wh\",\n      \"textContent\": (Math.round(today_wh * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_wh\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_wh_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1600,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "089c6fb0bb4e86a6",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "pool-temp",
        "func": "var pool_temp = msg.payload;\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#pool_temp\",\n      \"textContent\": (Math.round(pool_temp * 10)/10 + \" C\")\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_temp\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#16A085\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1640,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "a78303619e686475",
        "type": "comment",
        "z": "0f89ec8508c3d166",
        "name": "Cooking",
        "info": "",
        "x": 100,
        "y": 1760,
        "wires": []
    },
    {
        "id": "101e6d8562df6dd8",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "cooking_w",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1820,
        "wires": [
            [
                "3f7bcd1db56539a5"
            ]
        ]
    },
    {
        "id": "4bf26788179ece1b",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "cooking_wh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1860,
        "wires": [
            [
                "ea9727e864a2002c"
            ]
        ]
    },
    {
        "id": "3f7bcd1db56539a5",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "cooking_w",
        "func": "const mapNumRange = (num, inMin, inMax, outMin, outMax) =>\n  ((num - inMin) * (outMax - outMin)) / (inMax - inMin) + outMin;\n\nvar num = msg.payload;\nvar inMin = 0;\nvar inMax = 10100;\nvar outMin = 60;\nvar outMax = 20;\nvar stroke_dasharray = \"12,\" + mapNumRange(num,inMin,inMax,outMin,outMax).toFixed(0);\nvar stroke_width = mapNumRange(num,inMin,inMax,4,9).toFixed(0);\n\nvar visibility = \"hidden\";\nvar power_w = msg.payload;\nif (power_w > 10){\n    visibility = \"visible\"\n}\n\npower_w = power_w / 1000;\n\nmsg.payload = [\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#arrow_cooking\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#arrow_cooking\",\n      \"attributeName\": \"stroke\",\n      \"attributeValue\": \"#58D68D\"\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_cooking\",\n        \"attributeName\": \"stroke-dasharray\",\n        \"attributeValue\": stroke_dasharray\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_cooking\",\n        \"attributeName\": \"stroke-width\",\n        \"attributeValue\": stroke_width\n   },\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#cooking_w\",\n      \"textContent\": (Math.round(power_w * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#cooking_w\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#cooking_w\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n    {\n      \"command\": \"update_style\",\n      \"selector\": \"#cooking_w_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#cooking_w_sx\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1820,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "ea9727e864a2002c",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "cooking_wh",
        "func": "var today_wh = msg.payload / 1000;\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#cooking_wh\",\n      \"textContent\": (Math.round(today_wh * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#cooking_wh\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#cooking_wh_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1860,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "63da02d90cfd2d8c",
        "type": "comment",
        "z": "0f89ec8508c3d166",
        "name": "Other",
        "info": "",
        "x": 90,
        "y": 1960,
        "wires": []
    },
    {
        "id": "b9df5abc9050625e",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "other_w",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 2020,
        "wires": [
            [
                "4b45c0b0b6f98592"
            ]
        ]
    },
    {
        "id": "4d6ccf4eb2859e7a",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "other_wh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 2060,
        "wires": [
            [
                "de7a5d13dce83f23"
            ]
        ]
    },
    {
        "id": "4b45c0b0b6f98592",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "other_w",
        "func": "const mapNumRange = (num, inMin, inMax, outMin, outMax) =>\n  ((num - inMin) * (outMax - outMin)) / (inMax - inMin) + outMin;\n\nvar num = msg.payload;\nvar inMin = 0;\nvar inMax = 10100;\nvar outMin = 60;\nvar outMax = 20;\nvar stroke_dasharray = \"8,\" + mapNumRange(num,inMin,inMax,outMin,outMax).toFixed(0);\nvar stroke_width = mapNumRange(num,inMin,inMax,2.5,5).toFixed(0);\n\nvar visibility = \"hidden\";\nvar power_w = msg.payload;\nif (power_w > 0){\n    visibility = \"visible\"\n}\n\npower_w = power_w / 1000;\n\nmsg.payload = [\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#arrow_other\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#arrow_other\",\n      \"attributeName\": \"stroke\",\n      \"attributeValue\": \"#58D68D\"\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_other\",\n        \"attributeName\": \"stroke-dasharray\",\n        \"attributeValue\": stroke_dasharray\n   },\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#arrow_other\",\n        \"attributeName\": \"stroke-width\",\n        \"attributeValue\": stroke_width\n   },\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#other_w\",\n      \"textContent\": (Math.round(power_w * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#other_w\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#other_w\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#other_w_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#other_w_sx\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2020,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "de7a5d13dce83f23",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "other_wh",
        "func": "var today_wh = msg.payload / 1000;\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#other_wh\",\n      \"textContent\": (Math.round(today_wh * 10)/10)\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#other_wh\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#other_wh_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D0D3D4\"\n   }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2060,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "a7f3e5ff0722b7c3",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "pool_temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1640,
        "wires": [
            [
                "089c6fb0bb4e86a6"
            ]
        ]
    },
    {
        "id": "3221330491e53dcb",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "pool_runtime",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1680,
        "wires": [
            [
                "15da238946720623"
            ]
        ]
    },
    {
        "id": "15da238946720623",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "pool-runtime",
        "func": "var runtime = msg.payload;\nvar visibility = \"hidden\";\nvar runtime_sx = \"hr Runtime\";\n\nif (runtime > 0){\n   visibility = \"visible\"\n}\nif (runtime < 60){\n   runtime_sx = \"minute Runtime\"\n}\nelse{\n   runtime = runtime / 60;\n}\n\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#pool_runtime\",\n      \"textContent\": (runtime.toFixed(0))\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_runtime\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D98880\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_runtime\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#pool_runtime_sx\",\n      \"textContent\": runtime_sx\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_runtime_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D98880\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_runtime_sx\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   }\n]\nmsg.topic = \"\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1680,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "0d5d460636715df7",
        "type": "ui_template",
        "z": "0f89ec8508c3d166",
        "group": "07b619ba13186b6d",
        "name": "Heading",
        "order": 2,
        "width": "3",
        "height": "3",
        "format": "<div layout=\"column\" layout-align=\"center left\">\n    <font size=5.5><b>\n        <p ng-style=\"{color:'#7FB3D5'}\">\n           F = {{msg.payload.Frequency_Phase_Average}} Hz\n        </p>\n        </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color:'#909497'}\">\n       Phase 1\n    </p>\n    </b></font>\n    \n    <font size = 5><b>\n    <p ng-style=\"{color: '#909497'}\">\n        Phase 2\n    </p>\n    </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color: '#909497'}\">\n        Phase 3\n    </p>\n    </b></font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "3f4b93d913b9c2f8",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "heater_w",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1260,
        "wires": [
            [
                "93646c1f52607d1a"
            ]
        ]
    },
    {
        "id": "5b225431eae835eb",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "heater_wh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1360,
        "wires": [
            [
                "95bddf14c51c1516"
            ]
        ]
    },
    {
        "id": "95bddf14c51c1516",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "htr_wh",
        "func": "global.set(\"o_heater_wh\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1360,
        "wires": [
            [
                "e9e3b92a23a7b2f7"
            ]
        ]
    },
    {
        "id": "98123dcd727ae5f7",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "hws_wh",
        "func": "global.set(\"o_hws_wh\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1320,
        "wires": [
            [
                "e9e3b92a23a7b2f7"
            ]
        ]
    },
    {
        "id": "596155a402146c88",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "hws_w",
        "func": "global.set(\"o_hws_w\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1220,
        "wires": [
            [
                "6d61c3d0b0872553"
            ]
        ]
    },
    {
        "id": "93646c1f52607d1a",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "htr_w",
        "func": "global.set(\"o_heater_w\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1260,
        "wires": [
            [
                "6d61c3d0b0872553"
            ]
        ]
    },
    {
        "id": "980db55d531e65d7",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "today_wh_solar_percentage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "36cdfe478b2a4fc6"
            ]
        ]
    },
    {
        "id": "36cdfe478b2a4fc6",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "wh_solar_%",
        "func": "var home_solar_percentage = msg.payload;\n\nvar color = \"#D4AC0D\";\nvar lbl_home_solar_pcnt = \"All from grid\"\n\nif (home_solar_percentage > 50 ){\n   color = \"#229954\";\n   lbl_home_solar_pcnt = home_solar_percentage.toFixed(0) +\"% from solar\"\n}\n// change color of wh\nvar color_wh = \"#F5B041\"\nif (home_solar_percentage > 50 ){\n   color_wh = \"#58D68D\";\n}\n\n\nmsg.payload = [\n   {\n   \"command\": \"update_text\",\n   \"selector\": \"#home_solar_pcnt\",\n   \"textContent\": lbl_home_solar_pcnt\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_solar_pcnt\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_wh\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color_wh\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_wh_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color_wh\n   }\n]\n\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "39da2bb5c119a140",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "inverter_v",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 2260,
        "wires": [
            [
                "33401d5df2ffedb3"
            ]
        ]
    },
    {
        "id": "33401d5df2ffedb3",
        "type": "ui_template",
        "z": "0f89ec8508c3d166",
        "group": "3a9f662a92dea9e5",
        "name": "",
        "order": 2,
        "width": "3",
        "height": "3",
        "format": "<div layout=\"column\" layout-align=\"center center\">\n    <font size=5.5><b>\n        <p ng-style=\"{color:'#ABB2B9'}\">\n           VOLTS\n        </p>\n        </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n    {{ msg.payload.Voltage_AC_Phase_1 |number: 0}} v\n    </p>\n    </b></font>\n    \n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n        {{ msg.payload.Voltage_AC_Phase_2 |number: 0}} v\n    </p>\n    </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n        {{ msg.payload.Voltage_AC_Phase_3 |number: 0}} v\n    </p>\n    </b></font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "4eb5f681f0d33cf1",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "inverter_i",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 2320,
        "wires": [
            [
                "5cfe8c06b1237153"
            ]
        ]
    },
    {
        "id": "5cfe8c06b1237153",
        "type": "ui_template",
        "z": "0f89ec8508c3d166",
        "group": "87b5f87b54b47e33",
        "name": "",
        "order": 2,
        "width": "3",
        "height": "3",
        "format": "<div layout=\"column\" layout-align=\"center center\">\n    <font size=5.5><b>\n        <p ng-style=\"{color:'#ABB2B9'}\">\n           AMPS\n        </p>\n        </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n    {{ msg.payload.Current_AC_Phase_1 |number: 0}} A\n    </p>\n    </b></font>\n    \n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n        {{ msg.payload.Current_AC_Phase_2 |number: 0}} A\n    </p>\n    </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n        {{ msg.payload.Current_AC_Phase_3 |number: 0}} A\n    </p>\n    </b></font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "28e6964f9fa2ba30",
        "type": "ui_template",
        "z": "0f89ec8508c3d166",
        "group": "61b423654cc341d9",
        "name": "",
        "order": 2,
        "width": "3",
        "height": "3",
        "format": "<div layout=\"column\" layout-align=\"center center\">\n    <font size=5.5><b>\n        <p ng-style=\"{color:'#ABB2B9'}\">\n           WATTS\n        </p>\n        </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n    {{ msg.payload.Power_AC_Phase_1 |number: 0}} W\n    </p>\n    </b></font>\n    \n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n        {{ msg.payload.Power_AC_Phase_2 |number: 0}} W\n    </p>\n    </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n        {{ msg.payload.Power_AC_Phase_3 |number: 0}} W\n    </p>\n    </b></font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "555aee21a1a52853",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "inverter_w",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 2380,
        "wires": [
            [
                "28e6964f9fa2ba30"
            ]
        ]
    },
    {
        "id": "77cf12c1f68f3895",
        "type": "ui_template",
        "z": "0f89ec8508c3d166",
        "group": "e867b8ca4cbd7d43",
        "name": "",
        "order": 2,
        "width": "3",
        "height": "3",
        "format": "<div layout=\"column\" layout-align=\"center center\">\n    <font size=5><b>\n        <p ng-style=\"{color:'#ABB2B9'}\">\n            ({{ msg.payload.PowerFactor_Sum }})\n        </p>\n        </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n    {{ msg.payload.PowerFactor_Phase_1}}\n    </p>\n    </b></font>\n    \n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n        {{ msg.payload.PowerFactor_Phase_2}}\n    </p>\n    </b></font>\n    <font size = 5><b>\n    <p ng-style=\"{color: '#58D68D'}\">\n        {{ msg.payload.PowerFactor_Phase_3 }}\n    </p>\n    </b></font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 2420,
        "wires": [
            []
        ]
    },
    {
        "id": "b96847a0d9abf681",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "inverter_pf",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 2420,
        "wires": [
            [
                "77cf12c1f68f3895"
            ]
        ]
    },
    {
        "id": "0955b08c6a142042",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "inverter_hz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 2200,
        "wires": [
            [
                "0d5d460636715df7"
            ]
        ]
    },
    {
        "id": "a6f33b68c958e866",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "pv_panel",
        "func": "// Hide sun\n// Change panel color\n\nvar visibility = \"hidden\";\nvar power_w = msg.payload;\nvar color = \"#2C3E50\";\n\nif (power_w >= 1){\n    visibility = \"visible\"\n    color = \"#21618C\"\n}\n\n\nmsg.payload = [\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#pv_sun1\",\n        \"style\": {\n            \"visibility\": visibility\n        }\n    },\n      {\n        \"command\": \"update_style\",\n        \"selector\": \"#pv_sun2\",\n        \"style\": {\n            \"visibility\": visibility\n        }\n    },\n      {\n        \"command\": \"update_style\",\n        \"selector\": \"#pv_sun3\",\n        \"style\": {\n            \"visibility\": visibility\n        }\n    },\n    {\n      \"command\": \"update_style\",\n      \"selector\": \"#pv_panels\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color\n   },\n    \n]\n\n\nmsg.topic = \"\";\nreturn msg;\n ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "9f3be4ee634fbaf0",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "hws_relay_state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1400,
        "wires": [
            [
                "809dc85150352429"
            ]
        ]
    },
    {
        "id": "809dc85150352429",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "hws_relay_state",
        "func": "var visibility = \"hidden\";\n\nvar relay_state = msg.payload;\n\nif (relay_state == 1){\n    visibility = \"visible\"\n}\n\nmsg.payload = [\n   {\n        \"command\": \"update_style\",\n        \"selector\": \"#hws_relay1\",\n        \"style\": {\n            \"visibility\": visibility\n        }\n    },\n    {\n        \"command\": \"update_style\",\n        \"selector\": \"#hws_relay2\",\n        \"style\": {\n            \"visibility\": visibility\n        }\n    }\n]\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1400,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "44f33ebb9976ff58",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "today_w_solar_percentage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "1a60e8efa4e18338"
            ]
        ]
    },
    {
        "id": "1a60e8efa4e18338",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "w_solar_%",
        "func": "var home_solar_percentage = msg.payload;\n\n// change color of w\nvar color_wh = \"#F5B041\"\nif (home_solar_percentage > 50 ){\n   color_wh = \"#58D68D\"\n}\n\n\nmsg.payload = [\n\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_w\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color_wh\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#home_w_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": color_wh\n   }\n]\n\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1100,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "4713d464264dbabe",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "test",
        "func": "msg.payload = [\n  \n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#pool_water1\",\n      \"attributeName\": \"scale\",\n      \"attributeValue\": 1\n   },\n   {\n        \"command\": \"update_style\",\n      \"selector\": \"#pool_water2\",\n      \"attributeName\": \"scale\",\n      \"attributeValue\": 1\n   },\n   \n]\n\nmsg.topic = \"\";\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1180,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "1caadf067d2ef677",
        "type": "inject",
        "z": "0f89ec8508c3d166",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 1280,
        "wires": [
            [
                "4713d464264dbabe"
            ]
        ]
    },
    {
        "id": "abf25615e47c0164",
        "type": "mqtt in",
        "z": "0f89ec8508c3d166",
        "name": "",
        "topic": "hws_duration",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52516e112cf9c036",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1440,
        "wires": [
            [
                "7887ea5937a50526"
            ]
        ]
    },
    {
        "id": "7887ea5937a50526",
        "type": "function",
        "z": "0f89ec8508c3d166",
        "name": "hws-runtime",
        "func": "function secondsToHoursAndMinutes(seconds) {\n    // Calculate hours and remaining seconds\n    var hours = Math.floor(seconds / 3600);\n    var remainingSeconds = seconds % 3600;\n\n    // Calculate minutes\n    var minutes = Math.floor(remainingSeconds / 60);\n\n    return {\n        hours: hours,\n        minutes: minutes\n    };\n}\n\nvar totalSeconds = msg.payload;\nvar result = secondsToHoursAndMinutes(totalSeconds);\n\n\nvar label = \"\";\nif (result.hours == 0 && result.minutes != 0){\n    label = result.minutes + \" minutes\"    \n}else \nif (result.hours != 0 && result.minutes == 0){\n    label = result.hours + \" hours\"\n}else{\n    label = result.hours + \" hr \" + result.minutes +\" minutes\" \n}\n\n\nvar visibility = \"hidden\";\n\nif (totalSeconds > 0){\n    visibility = \"visible\"\n}\n\n\nmsg.payload = [\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#hws_runtime\",\n      \"textContent\": label\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_runtime\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D98880\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_runtime\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   },\n   {\n      \"command\": \"update_text\",\n      \"selector\": \"#hws_runtime_sx\",\n      \"textContent\": \"Heater ON\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_runtime_sx\",\n      \"attributeName\": \"fill\",\n      \"attributeValue\": \"#D98880\"\n   },\n   {\n      \"command\": \"update_style\",\n      \"selector\": \"#hws_runtime_sx\",\n      \"style\": {\n         \"visibility\": visibility\n      }\n   }\n]\nmsg.topic = \"\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1440,
        "wires": [
            [
                "f7c18ae0bd78a498"
            ]
        ]
    },
    {
        "id": "b97bc1c0.cb899",
        "type": "ui_template",
        "z": "0f89ec8508c3d166",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        //p.text(d.toLocaleString());\n        //var datestring = (\"0\" + d.getDate()).slice(-2) + \"-\" + (\"0\"+(d.getMonth()+1)).slice(-2) + \"-\" +\n        //d.getFullYear() + \" \" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2);\n        var datestring = d.getFullYear() + \"-\" + (\"0\"+(d.getMonth()+1)).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2) +\n        \"   \" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2);\n        p.text(datestring);\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,60000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 200,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "2b95a515674dacae",
        "type": "ui_group",
        "name": "Solar2",
        "tab": "2d9f59da9245ea3d",
        "order": 1,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52516e112cf9c036",
        "type": "mqtt-broker",
        "name": "10.0.1.11",
        "broker": "10.0.1.11",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "07b619ba13186b6d",
        "type": "ui_group",
        "name": "Heading",
        "tab": "2d9f59da9245ea3d",
        "order": 2,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a9f662a92dea9e5",
        "type": "ui_group",
        "name": "V",
        "tab": "2d9f59da9245ea3d",
        "order": 3,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87b5f87b54b47e33",
        "type": "ui_group",
        "name": "I",
        "tab": "2d9f59da9245ea3d",
        "order": 4,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61b423654cc341d9",
        "type": "ui_group",
        "name": "W",
        "tab": "2d9f59da9245ea3d",
        "order": 5,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e867b8ca4cbd7d43",
        "type": "ui_group",
        "name": "PF",
        "tab": "2d9f59da9245ea3d",
        "order": 6,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "7c447e96.4b96a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2d9f59da9245ea3d",
        "type": "ui_tab",
        "name": "PV",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c447e96.4b96a",
        "type": "ui_tab",
        "name": "Zooland Sys",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]